<template>
  <div class="main">
    <!-- <div class="overlay"></div> -->
    <div class="background" :style="{ 'background-image': imgurl() }" @click="clickevent()"></div>
    <div
      class="content-text card shadow1"
      v-bind:style="{ 'top': textposition.top, 
  'left': textposition.left, 
  'width': textposition.width }"
    >
      <span class="content-text_main">{{ items[pagecount].caption }}</span>
    </div>
    <div class="blobs">
      <a class="discoverbutton" data-title="Discover More" @click="openAnimation()"></a>
      <div class="blob sapbutton" :class="{'blobopen': open}" @click="routeToSAP">SAP</div>
      <div class="blob eybutton" :class="{'blobopen': open}" @click="routeToEY">EY</div>
      <div class="blob mhpbutton" :class="{'blobopen': open}" @click="routeToMHP">MHP</div>
    </div>
    <!--
    <div class="buttonwrapper eywrapper">
      <a class="discoverbutton eybutton" @click="routeToEY" data-title="Discover More"></a>
    </div>
    <div class="buttonwrapper sapwrapper">
      <a class="discoverbutton sapbutton" @click="routeToSAP" data-title="Discover More"></a>
    </div>
    <div class="buttonwrapper mhpwrapper">
      <a class="discoverbutton mhpbutton" @click="routeToMHP" data-title="Discover More"></a>
    </div>-->
  </div>
</template>

<script>
import OverlayMenu from "@/components/OverlayMenu";
import router from "../router";

export default {
  name: "BackgroundPicture",
  components: { OverlayMenu },
  data() {
    return {
      textposition: this.items[this.pagecount].textposition,
      toggle: false,
      open: false
    };
  },
  methods: {
    toggleOverlay() {
      this.toggle = !this.toggle;
    },
    openAnimation() {
      if (this.open == false) {
        //this.close = false;
        this.open = !this.open;
      } else {
        this.open = !this.open;
        //this.close = !this.close;
      }
    },
    clickevent: function() {
      this.$emit("clicked");
    },
    imgurl() {
      var url = "url(" + this.items[this.pagecount].picturesrc + ")";
      return url;
    },
    routeToEY() {
      router.push({ name: "lobby", params: { path: "ey" } });
    },
    routeToSAP() {
      router.push({ name: "lobby", params: { path: "sap" } });
    },
    routeToMHP() {
      router.push({ name: "lobby", params: { path: "mhp" } });
    }
  },
  props: [
    //require("../assets/manonescalator.png")
    "items",
    "pagecount"
  ],
  mounted() {
    console.log("Mounted");
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
$button-items: 3;
$open-distance: 105px;

.background {
  background-position: top 0 left 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: -2;
}

.content-text {
  position: absolute;
  text-align: left;
  top: 71%;
  left: 67%;
  width: 32%;
  &_main {
    //color: #4b4b4b;
    color: #fff !important;
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
  }
}

.card {
  padding: 1.5% 2%;
  background: linear-gradient(135deg, #0faaff, #0076cb);
  //background: #4b4b4b;
  border-radius: 10px;
  //margin: 60px auto;
}

.shadow1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.buttonwrapper {
  position: absolute;
  bottom: 5%;
}

.sapwrapper {
  right: 4.7%;
}

.eywrapper {
  right: 15.7%;
}

.mhpwrapper {
  right: 26.7%;
}

.sapbutton {
  background: linear-gradient(135deg, #0faaff, #0076cb);
}

.eybutton {
  background: linear-gradient(135deg, #fffa54, #ffdb00);
}

.mhpbutton {
  background: linear-gradient(135deg, #477eff, #28468e);
}

.blob {
  color: white;
  position: absolute;
  width: 40%;
  padding: 1em;
  bottom: 5%;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  transition: transform ease-out 200ms;
}

.blobopen {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  @for $i from 1 through $button-items {
    &:nth-child(#{$i + 1}) {
      transition-duration: 90ms+ (100ms * $i);
      @media only screen and (min-width: 1921px) {
        transform: translate3d(-306px * $i, 0, 0);
      }

      @media only screen and (min-width: 1401px) and (max-width: 1920px) {
        transform: translate3d(-136px * $i, 0, 0);
      }

      @media only screen and (max-width: 1400px) {
        transform: translate3d(-136px * $i, 0, 0);
      }
    }
  }
}

.blobclosed {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.blobs {
  z-index: 2;
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 0;
  right: 0;
  top: 89%;
  left: 86.3%;
}

.discoverbutton {
  background: linear-gradient(135deg, rgb(255, 179, 0), #ffcd29);
  position: relative;
  display: inline-block;
  z-index: 3;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0))
      rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
  }

  &:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  &::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform 0.2s ease;
    font-weight: bold;
    letter-spacing: 0.01em;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0))
      rotateY(var(--ry, 0));
  }
}

.overlay {
  background-color: black;
  display: inline-block;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.content-text {
  position: absolute;
  text-align: left;
  top: 75%;
  left: 65%;
  width: 30%;
  &_main {
    color: #ffaf00;
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1921px) {
  .content-text_main {
    font-size: 2.3em !important;
  }

  .content-text {
    font-size: 2.3em !important;
  }

  .discoverbutton,
  .blob {
    font-size: 2.1em;
  }

  .blob {
    padding: 1em 1.8em;
  }

  .blobs {
    left: 85.8%;
    top: 89%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .content-text_main {
    font-size: 2em !important;
  }

  .blobs {
    top: 85%;
    left: 82.6%;
  }
  .discoverbutton,
  .blob {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1024px) {
}
</style>