<template>
  <div class="main">
    <video
      ref="video"
      playsinline
      :src="items[pagecount].picturesrc"
      x5-video-player-type="h5"
      x5-video-player-fullscreen="true"
      :loop="false"
      x5-playsinline="true"
      webkit-playsinline="true"
      preload="auto"
      :autoplay="true"
      muted="muted"
    ></video>
    <!--<div class="hilight"></div>-->
  </div>
</template>

<script>
import router from "../router";
import store from "../store";
import VueFullscreenVideo from "vue-fullscreen-video";

export default {
  name: "VideoBackground",
  components: {
    VueFullscreenVideo
  },
  data() {
    return {
      videobase: undefined,
      secondtime: false
    };
  },
  methods: {
    startjourney: function(event) {
      this.isShowing = false;
      this.animated = true;
      router.push({ path: "story" });
    },
    toggleShow() {
      this.isShowing = !this.isShowing;
    },
    controlvideo() {
      this.videobase = this.$refs.video;
      this.videobase.load();
      this.videobase.play();
    }
  },
  watch: {
    currentIndex: function() {
      let self = this;
      if (this.currentIndex == this.pagecount) {
        store.commit("initalVideoFirst");
        this.videobase.onended = function() {
          self.$emit("videoended", this.currentIndex);
        };
        this.controlvideo();
      }
    }
  },
  mounted() {
    let self = this;
    this.videobase = this.$refs.video;
    const playPromise = this.videobase.play();
    if (playPromise !== null) {
      playPromise.catch(() => {
        this.videobase.play();
      });
    }
    this.videobase.onended = function() {
      self.$emit("videoended", this.currentIndex);
    };
  },

  props: ["items", "pagecount", "currentIndex"]
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
$circle: rgb(255, 255, 255);
$sub-circle: #f50057;

$transition: 0.1;
$transalteValue: 100;
$translate75: $transalteValue * 0.75;
.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

label {
  background-color: $sub-circle;
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 40px;
  transition: 200ms;
  &:hover {
    cursor: pointer;
    background-color: lighten($circle, 10%);
  }
}
</style>

<style lang="scss" scoped>
* {
  margin: 0;
}

img {
  width: 200px;
  margin-top: 120px;
}

h1,
h4,
.subtitle-fixed,
h3,
.buttoncontainer {
  cursor: default;
  z-index: 2;
}

a {
  text-decoration: none;
}

h3 {
  margin: 25px 0 0 0;
  font-weight: bold;
  color: #ffffff;
}

h4,
a {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7f8c8d;
}

.hilight {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media only screen and (min-width: 1921px) {
  video {
    height: 100vh;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
  video {
    height: 100vh;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1400px) {
  video {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
}
</style>