<template>
  <div class="home">
    <vue-friendly-iframe class="survey" :src="path"></vue-friendly-iframe>
  </div>
</template>

<script>
// @ is an alias to /src
//import StoryDialer from '@/components/StoryDialer.vue';
import VueFriendlyIframe from "vue-friendly-iframe";

export default {
  name: "IframeFullScreenComponent",
  components: { VueFriendlyIframe },
  data() {
    return {};
  },
  mounted() {},
  props: ["path"]
};
</script>

<style lang="scss" scoped>
.survey {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

vue-friendly-iframe {
  z-index: 50;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
</style>
