<template>
  <div class="home">
    <div class="background" :style="{ 'background-image': imgurl() }" @click="clickevent()"></div>
    <div>
      <div class="mainfullscreen" @change="fullscreenChange">
        <a class="btn-map-fullscreen" @click="toggle">
          <font-awesome-icon class="icon-button" :icon="icondata"></font-awesome-icon>
        </a>
        <vue-friendly-iframe :class="[fullscreen ? 'iframefullscreen' : 'iframe']" :src="path"></vue-friendly-iframe>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
//import StoryDialer from '@/components/StoryDialer.vue';
import VueFriendlyIframe from "vue-friendly-iframe";
import fullscreen from "vue-fullscreen";
import OverlayMenu from "@/components/OverlayMenu.vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faExpand, faCompress } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import Vue from "vue";
Vue.use(fullscreen);

library.add(faExpand, faCompress);

export default {
  name: "IframeComponent",
  components: { VueFriendlyIframe, OverlayMenu, FontAwesomeIcon },
  data() {
    return {
      path: "http://sandbox.cx4auto.com/sites/",
      fullscreen: false,
      styleStore: {},
      icondata: this.fullscreen ? faCompress : faExpand
    };
  },
  methods: {
    toggle() {
      this.$fullscreen.toggle(this.$el.querySelector(".mainfullscreen"), {
        wrap: false,
        callback: this.fullscreenChange
      }); // recommended

      // this.fullscreen = !this.fullscreen // deprecated
    },
    fullscreenChange(fullscreen) {
      this.fullscreen = fullscreen;
      this.icondata = this.fullscreen ? faCompress : faExpand;
    },
    clickevent: function() {
      this.$emit("clicked");
    },
    imgurl() {
      var url = "url(" + this.items[this.pagecount].picturesrc + ")";
      return url;
    },
    mounted() {
    }
  },
  props: ["pagecount", "items"]
};
</script>

<style lang="scss" scoped>
.iframe {
  position: absolute;
  top: 18.5%;
  left: 10.3%;
  border: 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;

  @media screen and (max-width: 1400px) {
  }

  @media screen and (min-width: 1401px) and (max-width: 1920px) {
    width: 100.3%;
    height: 75.4%;
    -webkit-transform: scale(0.75);
  }
  @media screen and (min-width: 1921px) {
    width: 75.3%;
    height: 56.4%;
    -webkit-transform: scale(1);
  }
}

.mainfullscreen {
  z-index: 3;
}

.iframefullscreen {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.background {
  transform: rotate(-1.1deg);
  background-position: top 54% left 100%;
  background-size: cover;
  position: absolute;
  position: fixed;
  top: -2%;
  left: -1%;
  width: 103%;
  height: 104%;
  border: 0;
  z-index: -1;
}

.btn-map-fullscreen {
  touch-action: manipulation;
  cursor: pointer;
  z-index: 2147483647;
  position: absolute;
  right: 5%;
  top: 86%;
  width: 36px;
  height: 36px;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  color: white;
  background: linear-gradient(135deg, rgb(255, 179, 0), #ffcd29);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
}

.icon-button {
  font-size: 2.5em;
  width: 0.9em;
  height: 0.9em;
}

vue-friendly-iframe {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
</style>