<template>
  <div class="home">
    <div>
      <div class="mainfullscreen" @change="fullscreenChange">
        <div class="buttonContainer" @click="toggle">
          <a class="btn-map-fullscreen">
            <font-awesome-icon class="icon-button" :icon="icondata"></font-awesome-icon>
          </a>
        </div>
        <div class="loader" v-show="!loaded">
          <orbit-spinner :animation-duration="1200" :size="55" color="#0FAAFF" />
        </div>
        <vue-friendly-iframe
          :class="[fullscreen ? 'iframefullscreen' : 'iframe']"
          :src="path"
          @document-load="onDocumentLoad"
          @load="onLoad"
        ></vue-friendly-iframe>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
//import StoryDialer from '@/components/StoryDialer.vue';
import VueFriendlyIframe from "vue-friendly-iframe";
import fullscreen from "vue-fullscreen";
import OverlayMenu from "@/components/OverlayMenu.vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faExpand, faCompress } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import Vue from "vue";
import { OrbitSpinner } from "epic-spinners";
Vue.use(fullscreen);

library.add(faExpand, faCompress);

export default {
  name: "IframeComponentNoBack",
  components: { VueFriendlyIframe, OverlayMenu, FontAwesomeIcon, OrbitSpinner },
  data() {
    return {
      fullscreen: false,
      styleStore: {},
      loaded: false,
      icondata: this.fullscreen ? faCompress : faExpand
    };
  },
  methods: {
    toggle() {
      this.$fullscreen.toggle(this.$el.querySelector(".mainfullscreen"), {
        wrap: false,
        callback: this.fullscreenChange
      }); // recommended

      // this.fullscreen = !this.fullscreen // deprecated
    },
    onDocumentLoad() {
      this.loaded = true;
    },
    onLoad (){
     console.log("onLoad")
    },
    fullscreenChange(fullscreen) {
      this.fullscreen = fullscreen;
      this.icondata = this.fullscreen ? faCompress : faExpand;
    },
    clickevent: function() {
      this.$emit("clicked");
    },
    imgurl() {
      var url = "url(" + this.items[this.pagecount].picturesrc + ")";
      console.log(url);
      return url;
    }
  },
  props: ["pagecount", "items", "path"]
};
</script>

<style lang="scss" scoped>
.iframe {
  position: absolute;
  top: 20.5%;
  left: 16.8%;
  border: 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;

  @media screen and (max-width: 1400px) {
  }

  @media screen and (min-width: 1401px) and (max-width: 1920px) {
    width: 93.3%;
    height: 75.4%;
    -webkit-transform: scale(0.75);
  }
  @media screen and (min-width: 1921px) {
    width: 75.3%;
    height: 56.4%;
    -webkit-transform: scale(1);
  }
}

.mainfullscreen {
  z-index: 3;
}

.iframefullscreen {
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.background {
  transform: rotate(-1.1deg);
  background-position: top 54% left 100%;
  background-size: cover;
  position: absolute;
  position: fixed;
  top: -2%;
  left: -1%;
  width: 103%;
  height: 104%;
  border: 0;
  z-index: -1;
}

.buttonContainer {
  z-index: 100;

  right: 8%;
  top: 83%;
  position: absolute;

  @media screen and (max-width: 1400px) {
  }

  @media screen and (min-width: 1401px) and (max-width: 1920px) {
    width: 4.8%;
    height: 4.8%;
  }
  @media screen and (min-width: 1921px) {
    width: 3.8%;
    height: 3.8%;
  }
}

.btn-map-fullscreen {
  display: block;
  touch-action: manipulation;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding-top: 18%;
  text-decoration: none;
  text-align: center;
  color: white;
  background: linear-gradient(135deg, rgb(255, 179, 0), #ffcd29);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
}

.icon-button {
  font-size: 2.5em;
  width: 0.9em;
  height: 0.9em;
  @media screen and (max-width: 1400px) {
  }

  @media screen and (min-width: 1401px) and (max-width: 1920px) {
    font-size: 2.5em;
  }
  @media screen and (min-width: 1921px) {
    font-size: 3.5em;
  }
}

vue-friendly-iframe {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
</style>