<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              <div class="image-wrapper">
                <img src="../assets/sap.png" class="logo" />
              </div>
              <div class="title-wrapper">
                <div class="solution-title title">{{showModalSolution.pointtitle}}</div>
              </div>
              <div class="closing-wrapper" v-on:click="closing">
                <img src="../assets/cross.svg" class="cross" />
              </div>
            </slot>
          </div>

          <div class="modal-body">
            <component :is="currentComponent"></component>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
// @ is an alias to /src
import store from "../store";
import router from "../router";
import SmcCustomerDataCloud from "@/components/SmcCustomerDataCloud";
import SmcFleetManagement from "@/components/SmcFleetManagement";
import SmcBRIMBilling from "@/components/SmcBRIMBilling";
import SmcMarketingCloud from "@/components/SmcMarketingCloud";
import SmcCommerceCloud from "@/components/SmcCommerceCloud";
import SmcDriversPortal from "@/components/SmcDriversPortal";
import SmcMachineLearning from "@/components/SmcMachineLearning";
import SmcSalesCloud from "@/components/SmcSalesCloud";
import SmcIDMS from "@/components/SmcIDMS";
import SmcAnalyticsCloud from "@/components/SmcAnalyticsCloud";

export default {
  name: "SolutionModal",
  components: {
    SmcCustomerDataCloud,
    SmcFleetManagement,
    SmcBRIMBilling,
    SmcMarketingCloud,
    SmcCommerceCloud,
    SmcDriversPortal,
    SmcMachineLearning,
    SmcSalesCloud,
    SmcIDMS,
    SmcAnalyticsCloud
  },
  methods: {
    closing() {
      this.$emit("closemodal");
    }
  },
  data() {
    return {
      currentComponent: ""
    };
  },
  props: ["showModalSolution", "solutions"],
  mounted() {
    this.currentComponent = this.showModalSolution.name;
  }
};
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 90%;
  height: 90%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.solution-title {
  font-weight: bold;
}

.title {
  text-align: left;
  color: #ffaf00;
}

.solution-subtitle {
  font-weight: 400;
}

.title-wrapper {
  margin-top: 1%;
  padding-top: 1%;
}

.image-wrapper {
  width: 8%;
  float: left;
  height: 100%;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 2%;
}

.logo {
  width: 100%;
  float: left;
}

.closing-wrapper {
  position: absolute;
  right: 4%;
  top: 10%;
  width: 10%;
}

@media screen and (max-width: 1400px) {
  .title {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1920px) {
  .title {
    font-size: 3.5em;
  }

  .title-wrapper {
    margin-top: 1%;
    padding-top: 1.5%;
  }
}
@media screen and (min-width: 1921px) {
  .title {
    font-size: 6.5em;
  }

  .title-wrapper {
    margin-top: 1%;
    padding-top: 1.5%;
  }
}
</style>