<template>
  <div class="home">
    <div class="dot-wrapper">
      <img class="dot" src="../assets/DarkBlueDot.svg" :style="styleStore" />
      <div class="circle" style="animation-delay: -3s" :style="styleStore"></div>
      <div class="circle" style="animation-delay: -2s" :style="styleStore"></div>
      <div class="circle" style="animation-delay: -1s" :style="styleStore"></div>
      <div class="circle" style="animation-delay: 0s" :style="styleStore"></div>
    </div>
    <div class="solutioncard" :style="styleStoreCard">
      <div class="title-wrapper">
        <div class="title">{{title}}</div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import store from "../store";
import router from "../router";

export default {
  name: "SolutionPointMHP",
  components: {},
  methods: {
    getPercentage(nr) {
      var str = nr + "%";
      return str;
    }
  },
  props: {
    widthCircle: Number,
    topMargin: Number,
    leftMargin: Number,
    title: String
  },
  data() {
    return {
      styleStore: "",
      styleStoreCard: ""
    };
  },
  mounted() {
    this.styleStore = {
      top: this.getPercentage(this.topMargin),
      left: this.getPercentage(this.leftMargin)
    };
    this.styleStoreCard = {
      top: this.getPercentage(this.topMargin),
      left: this.getPercentage(this.leftMargin + 3.5)
    };
  }
};
</script>

<style lang="scss" scoped>
$circleWidthSmall: 50px;
$circleWidthBig: 125px;

$circleCenterWidthSmall: 50px;
$circleCenterWidthBig: 150px;

.circle {
  z-index: 150;
  border-radius: 50%;
  background-color: #28468e;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.circle-center {
  z-index: 150;
  border-radius: 50%;
  background-color: #28468e;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.solutioncard {
  z-index: 151;
  width: auto;
  max-width: 28%;
  min-width: 19%;
  height: 7%;
  border-radius: 5px;
  position: absolute;
}

.title-wrapper {
  margin-top: 1%;
  font-weight: bold;
}

.title-wrapper-center {
  margin-top: 6%;
  font-weight: bold;
}

.image-wrapper {
  width: 19%;
  float: left;
  height: 100%;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 5%;
}

.title {
  text-align: left;
  color: white;
}

.title-center {
  text-align: left;
  color: white;
}

.logo {
  width: 100%;
  float: left;
}

.dot {
  z-index: 151;
  position: absolute;
  &-center {
  }
}

.dot-wrapper {
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

@media screen and (max-width: 1400px) {
  .title-wrapper {
    margin-top: 1%;
  }

  .title-wrapper-center {
    margin-top: 6%;
  }

  .title {
    font-size: 1.8em;
  }
  .title-wrapper {
    margin-top: 3%;
    margin-left: 3%;
  }

  .solutioncard {
    max-width: 40%;
    min-width: 25%;
  }

  .circle,
  .dot {
    width: $circleWidthSmall;
    height: $circleWidthSmall;
  }

  .circle-center,
  .dot-center {
    width: $circleCenterWidthSmall;
    height: $circleCenterWidthSmall;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1920px) {
  .title-wrapper {
    margin-top: 1%;
  }

  .title-wrapper-center {
    margin-top: 3%;
  }

  .title {
    font-size: 2.5em;
  }

  .title-center {
    font-size: 2.5em;
  }

  .circle,
  .dot {
    width: $circleWidthSmall;
    height: $circleWidthSmall;
  }

  .circle-center,
  .dot-center {
    width: $circleCenterWidthSmall;
    height: $circleCenterWidthSmall;
  }
}
@media screen and (min-width: 1921px) {
  .title-wrapper {
    margin-top: 3%;
  }

  .title {
    font-size: 4.5em;
  }

  .circle,
  .dot {
    width: $circleWidthBig;
    height: $circleWidthBig;
  }

  .circle-center,
  .dot-center {
    width: $circleCenterWidthBig;
    height: $circleCenterWidthBig;
  }
}
</style>