<template>
  <div class="home">
    <div class="circle" style="animation-delay: -3s" :style="styleStore"></div>
    <div class="circle" style="animation-delay: -2s" :style="styleStore"></div>
    <div class="circle" style="animation-delay: -1s" :style="styleStore"></div>
    <div class="circle" style="animation-delay: 0s" :style="styleStore"></div>
    <div class="solutioncard" :style="styleStoreCard">
      <div class="image-wrapper" :style="styleImage">
        <img src="../assets/sap.png" class="logo" />
      </div>
      <div class="title-wrapper">
        <div class="solution-subtitle title">{{content.pointsubtitle}}</div>
        <div class="solution-title title">{{content.pointtitle}}</div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import store from "../store";
import router from "../router";

export default {
  name: "SolutionPoint",
  components: {},
  methods: {
    getPercentage(nr) {
      var str = nr + "%";
      return str;
    },
    setStyles() {
      if ((this.content.bigger = false)) {
        this.styleImage = {};
        this.styleStore = {
          top: this.getPercentage(this.content.topMargin),
          left: this.getPercentage(this.content.leftMargin)
        };
        this.styleStoreCard = {
          top: this.getPercentage(this.content.topMargin - 2),
          left: this.getPercentage(this.content.leftMargin + 4),
          width: this.content.cardwidth
        };
      } else {
        this.styleImage = {
          "margin-top": "2%"
        };
        this.styleStore = {
          top: this.getPercentage(this.content.topMargin),
          left: this.getPercentage(this.content.leftMargin)
        };
        this.styleStoreCard = {
          top: this.getPercentage(this.content.topMargin - 2),
          left: this.getPercentage(this.content.leftMargin + 4),
          width: this.content.cardwidth
        };
      }
    }
  },
  props: ["content"],
  data() {
    return {
      styleStore: {},
      styleStoreCard: {},
      styleImage: {}
    };
  },
  mounted() {
    this.setStyles();
  },
  watch: {
    content: function(newVal, oldVal) {
      this.setStyles();
    }
  }
};
</script>

<style lang="scss" scoped>
.circle {
  z-index: 150;
  border-radius: 50%;
  background-color: deepskyblue;
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.solutioncard {
  padding: 0.5%;
  z-index: 151;
  width: 26%;
  background: white;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.solution-title {
  font-weight: bold;
}

.solution-subtitle {
  font-weight: 400;
}

.title-wrapper {
  margin-top: 1%;
}

.image-wrapper {
  width: 19%;
  float: left;
  height: 100%;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 5%;
}

.title {
  text-align: left;
  color: #ffaf00;
}

.logo {
  width: 100%;
  float: left;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

@media screen and (max-width: 1400px) {
  .title {
    font-size: 1.4em;
  }

  .circle {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1920px) {
  .title {
    font-size: 1.8em;
  }

  .circle {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1921px) {
  .title {
    font-size: 3.5em;
  }

  .circle {
    width: 100px;
    height: 100px;
  }
}
</style>