<template>
  <div id="container">
    <canvas id="canvasbox"></canvas>
  </div>
</template>

<script>
import * as Three from "three";
import * as OrbitControls from "../scripts/lib/orbital-controls";
import datapoints from "../assets/data/data.json";

export default {
  name: "SolutionMapSquare",
  data() {
    return {
      camera: null,
      scene: null,
      data: datapoints,
      renderer: null,
      mesh: null,
      container: null,
      canvas: null,
      width: 1000,
      height: 800,
      globeRadius: 200,
      globeSegments: 64,
      globeWidth: 4098 / 2,
      globeHeight: 1968 / 2,
      groups: {
        globe: null,
        globepoints: null
      },
      state: null
    };
  },
  methods: {
    init: function() {
      this.container = document.getElementById("container");
      this.canvas = document.getElementById("canvasbox");

      /*this.camera = new Three.PerspectiveCamera(
        70, //VIEW_ANGLE
        container.clientWidth / container.clientHeight, //ASPEKT
        0.01, //NEAR
        10 //FAR  1000
      ); //Instanciate Camera 
      */
      this.camera = {
        object: null,
        orbitControls: null,
        angles: {
          current: {
            azimuthal: null,
            polar: null
          },
          target: {
            azimuthal: null,
            polar: null
          }
        },
        transition: {
          current: 0,
          target: 30
        }
      };

      this.state = {
        touchpoints: [
          {
            id: 0,
            name: "iDMS",
            geo: {
              lat: 31.2304,
              lng: 121.4737,
              name: "FleetManagement"
            }
          }
        ],
        currentUserIndex: null,
        previousUserIndex: null,
        isGlobeAnimating: false,
        // Property to save our setInterval id to auto rotate the globe every n seconds
        autoRotateGlobeTimer: null
      };

      //this.camera.position.z = 1;
      //this.camera.position.set( 0, 0, 500 );

      //this.scene = new Three.Scene(); //New Scene created
      // scene.background = new Three.Color( 0x000 ); Background setzen
      // scene.add(camera);

      //this.renderer = new Three.WebGLRenderer({ antialias: true });
      //this.renderer.setSize(container.clientWidth, container.clientHeight);
      //container.appendChild(this.renderer.domElement);
      this.setup();
    },
    setup: function() {
      this.scene = new Three.Scene();
      this.camera.object = new Three.PerspectiveCamera(
        45,
        this.width / this.height,
        1,
        4000
      );
      this.camera.object.position.z = -400;

      this.renderer = new Three.WebGLRenderer({
        canvas: this.canvas,
        antialias: true,
        opacity: 1
      });
      this.renderer.setSize(this.width, this.height);

      this.setupGlobe();
      this.setupOrbitControls();
      this.setupAutoRotate();
      this.render();
    },
    setupGlobe: function() {
      const canvasSize = 128;
      const textureCanvas = document.createElement("canvas");
      textureCanvas.width = canvasSize;
      textureCanvas.height = canvasSize;

      const canvasContext = textureCanvas.getContext("2d");
      canvasContext.rect(0, 0, canvasSize, canvasSize);
      const texture = new Three.Texture(textureCanvas);

      const geometry = new Three.SphereGeometry(
        this.globeRadius,
        this.globeSegments,
        this.globeSegments
      );
      const material = new Three.MeshBasicMaterial({
        map: texture,
        transparent: true,
        opacity: 0.5
      });
      let globe = new Three.Mesh(geometry, material);

      this.groups.globe = globe;
      this.groups.globe.name = "Globe";

      this.scene.add(this.groups.globe);

      this.addPoints();
    },
    addPoints: function() {
      const mergedGeometry = new Three.Geometry();
      // The geometry that will contain all of our points.
      const pingGeometry = new Three.SphereGeometry(0.5, 5, 5);
      // The material that our ping will be created from.
      const material = new Three.MeshBasicMaterial({
        color: "#626177"
      });
      for (let point of this.data.points) {
        // Transform our latitude and longitude values to points on the sphere.
        const pos = this.convertFlatCoordsToSphereCoords(point.x, point.y);

        if (pos.x && pos.y && pos.z) {
          // Position ping item.
          pingGeometry.translate(pos.x, pos.y, pos.z);
          // Merge ping item onto our mergedGeometry object.
          mergedGeometry.merge(pingGeometry);
          // Reset ping item position.
          pingGeometry.translate(-pos.x, -pos.y, -pos.z);
        }
      }
      // We end up with 1 mesh to add to the scene rather than our (n) number of points.
      try {
        this.mesh = new Three.Mesh(mergedGeometry, material);
        console.log("Afer mesh");
        this.groups.globePoints = this.mesh;
        this.groups.globePoints.name = "Globe Points";
        console.log("Before Scene .add");
        this.scene.add(this.groups.globePoints);
      } catch (error) {
        console.log("Error Happened");
        console.log(error);
      }

      console.log("After Globe Points added");
    },
    setupOrbitControls: function() {
      this.camera.orbitControls = new Three.OrbitControls(
        this.camera.object,
        this.canvas
      );
      this.camera.orbitControls.enableKeys = false;
      this.camera.orbitControls.enablePan = false;
      this.camera.orbitControls.enableZoom = false;
      this.camera.orbitControls.enableDamping = false;
      this.camera.orbitControls.enableRotate = false;
      this.camera.object.position.z = -550;
      this.camera.orbitControls.update();
    },
    setupAutoRotate: function() {
      /*this.state.autoRotateGlobeTimer = setInterval(() => {
        focusUser();
      }, 10000); */
    },
    focusTouchpoint: function() {
      if (this.state.users.length > 0) {
        if (this.state.currentUserIndex === null) {
          // If there is no current user (when our page first loads), we'll pick one randomly.
          this.state.currentUserIndex = getRandomNumberBetween(
            0,
            this.state.users.length - 1
          );
        } else {
          // If we already have an index (page has already been loaded/user already clicked next), we'll continue the sequence.
          this.state.previousUserIndex = this.state.currentUserIndex;
          this.state.currentUserIndex =
            (this.state.currentUserIndex + 1) % this.state.users.length;
        }

        this.focusGlobe();
      }
    },
    focusGlobe: function() {
      // 1. We'll get the current user's lat/lng
      // 2. Set camera.angles.current
      // 3. Calculate and set camera.angles.target
      // 4. animate method will handle animating
      const { geo } = this.state.users[this.state.currentUserIndex];
      this.camera.angles.current.azimuthal = this.camera.orbitControls.getAzimuthalAngle();
      this.camera.angles.current.polar = this.camera.orbitControls.getPolarAngle();
      const { x, y } = convertLatLngToFlatCoords(geo.lat, geo.lng);
      const { azimuthal, polar } = returnCameraAngles(x, y);
      this.camera.angles.target.azimuthal = azimuthal;
      this.camera.angles.target.polar = polar;
      // Updating state here will make sure our animate method will rotate our globe to the next point.
      // It will also make sure we update & cache our popup DOM element so we can use it in our animateGlobeToNextLocation.
      this.state.isGlobeAnimating = true;
    },
    render: function() {
      console.log("Render Function");
      this.renderer.render(this.scene, this.camera.object);
      requestAnimationFrame(this.render);
      //this.animate();
    },
    animate: function() {
      if (this.state.isGlobeAnimating) {
        // Here we update azimuthal and polar angles.
        // Our focusGlobe() method will trigger state.isGlobeAnimating
        // and update the current and target azimuthal/polar angles of
        // our camera. Then, animateGlobeToNextLocation() will
        // animate globe from the current azimuthal/polar angles to the target.
        // It will then set state.isGlobeAnimating to false when the angles are equal.
        this.animateGlobeToNextLocation();

        this.camera.orbitControls.update();
      }
    },
    animateGlobeToNextLocation: function() {
      const { current, target } = this.camera.transition;
      if (current <= target) {
        const progress = this.easeInOutCubic(current / target);
        const {
          current: { azimuthal: currentAzimuthal, polar: currentPolar },
          target: { azimuthal: targetAzimuthal, polar: targetPolar }
        } = this.camera.angles;
        var azimuthalDifference =
          (currentAzimuthal - targetAzimuthal) * progress;
        azimuthalDifference = currentAzimuthal - azimuthalDifference;
        this.camera.orbitControls.setAzimuthalAngle(azimuthalDifference);
        var polarDifference = (currentPolar - targetPolar) * progress;
        polarDifference = currentPolar - polarDifference;
        this.camera.orbitControls.setPolarAngle(polarDifference);
        this.camera.transition.current++;
      } else {
        this.state.isGlobeAnimating = false;
        this.camera.transition.current = 0;
      }
    },
    animate360: function() {
      requestAnimationFrame(this.animate360);
      this.mesh.rotation.x += 0.01;
      this.mesh.rotation.y += 0.02;
      this.renderer.render(this.scene, this.camera);
    },

    /*****************
     * HELPER FUNCTIONS
     ******************/

    convertLatLngToSphereCoords: function(latitude, longitude) {
      const phi = (latitude * Math.PI) / 180;
      const theta = ((longitude - 180) * Math.PI) / 180;
      const x = -(this.globeRadius + -1) * Math.cos(phi) * Math.cos(theta);
      const y = (this.globeRadius + -1) * Math.sin(phi);
      const z = (this.globeRadius + -1) * Math.cos(phi) * Math.sin(theta);
      return new Three.Vector3(x, y, z);
    },

    convertFlatCoordsToSphereCoords: function(x, y) {
      // Calculate the relative 3d coordinates using Mercator projection relative to the radius of the globe.
      // Convert latitude and longitude on the 90/180 degree axis.
      let latitude = ((x - this.globeWidth) / this.globeWidth) * -180;
      let longitude = ((y - this.globeHeight) / this.globeHeight) * -90;
      latitude = (latitude * Math.PI) / 180; //(latitude / 180) * Math.PI
      longitude = (longitude * Math.PI) / 180; //(longitude / 180) * Math.PI // Calculate the projected starting point
      const radius = Math.cos(longitude) * this.globeRadius;
      const targetX = Math.cos(latitude) * radius;
      const targetY = Math.sin(longitude) * this.globeRadius;
      const targetZ = Math.sin(latitude) * radius;
      return {
        x: targetX,
        y: targetY,
        z: targetZ
      };
    },

    convertLatLngToFlatCoords: function(latitude, longitude) {
      // Reference: https://stackoverflow.com/questions/7019101/convert-pixel-location-to-latitude-longitude-vise-versa
      const x = Math.round((longitude + 180) * (this.globeWidth / 360)) * 2;
      const y = Math.round((-1 * latitude + 90) * (this.globeHeight / 180)) * 2;
      return { x, y };
    },

    // Returns a 2d position based off of the canvas width and height to position popups on the globe.
    getProjectedPosition: function(
      width,
      height,
      position,
      contentWidth,
      contentHeight
    ) {
      position = position.clone();
      var projected = position.project(camera.object);
      return {
        x: projected.x * width + width - contentWidth / 2,
        y: -(projected.y * height) + height - contentHeight - 10 // -10 for a small offset
      };
    },

    // Returns an object of the azimuthal and polar angles of a given a points x,y coord on the globe
    returnCameraAngles: function(x, y) {
      let targetAzimuthalAngle =
        ((x - this.globeWidth) / this.globeWidth) * Math.PI;
      targetAzimuthalAngle = targetAzimuthalAngle + Math.PI / 2;
      targetAzimuthalAngle += 0.3; // Add a small horizontal offset
      let targetPolarAngle = (y / (this.globeHeight * 2)) * Math.PI;
      targetPolarAngle += 0.1; // Add a small vertical offset
      return {
        azimuthal: targetAzimuthalAngle,
        polar: targetPolarAngle
      };
    },

    easeInOutCubic: function(t) {
      return t < 0.5 ? 4 * t * t * t : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1;
    },

    getRandomNumberBetween: function(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    }

    /*****************
     * HELPER FUNCTIONS
     ******************/
  },
  mounted() {
    this.init();
    //this.animate();
  }
};
</script>

<style scoped>
#container {
  height: 100%;
  width: 100%;
}

#canvasbox {
}
</style>