<template>
  <div id="container">
    <canvas id="canvasbox"></canvas>
  </div>
</template>

<script>
import * as Three from "three";
import * as OrbitControls from "../scripts/lib/orbital-controls";
import datapoints from "../assets/data/data.json";

export default {
  name: "SolutionMapSquare",
  data() {
    return {
      camera: null,
      scene: null,
      data: datapoints,
      renderer: null,
      mesh: null,
      container: null,
      canvas: null,
      width: 1000,
      height: 800,
      globeRadius: 200,
      globeSegments: 64,
      globeWidth: 4098 / 2,
      globeHeight: 1968 / 2,
      groups: {
        globe: null,
        globepoints: null
      },
      state: null
    };
  },
  methods: {
    init: function() {
      this.container = document.getElementById("container");
      this.canvas = document.getElementById("canvasbox");

      /*this.camera = new Three.PerspectiveCamera(
        70, //VIEW_ANGLE
        container.clientWidth / container.clientHeight, //ASPEKT
        0.01, //NEAR
        10 //FAR  1000
      ); //Instanciate Camera 
      */
      this.camera = {
        object: null,
        orbitControls: null,
        angles: {
          current: {
            azimuthal: null,
            polar: null
          },
          target: {
            azimuthal: null,
            polar: null
          }
        },
        transition: {
          current: 0,
          target: 30
        }
      };

      this.state = {
        touchpoints: [
          {
            id: 0,
            name: "iDMS",
            geo: {
              lat: 31.2304,
              lng: 121.4737,
              name: "FleetManagement"
            }
          }
        ],
        currentUserIndex: null,
        previousUserIndex: null,
        isGlobeAnimating: false,
        // Property to save our setInterval id to auto rotate the globe every n seconds
        autoRotateGlobeTimer: null
      };

      //this.camera.position.z = 1;
      //this.camera.position.set( 0, 0, 500 );

      //this.scene = new Three.Scene(); //New Scene created
      // scene.background = new Three.Color( 0x000 ); Background setzen
      // scene.add(camera);

      //this.renderer = new Three.WebGLRenderer({ antialias: true });
      //this.renderer.setSize(container.clientWidth, container.clientHeight);
      //container.appendChild(this.renderer.domElement);
      this.setup();
    },
    mounted() {
      this.init();
      //this.animate();
    }
  }
};
</script>

<style scoped>
#container {
  height: 100%;
  width: 100%;
}

#canvasbox {
}
</style>