<template>
  <div class="main">
    <div class="story-slider">
      <div
        v-bind:class="{ 'story-slider_wrapper': true}"
        v-bind:style="{ 'background-image': imgurl(pagecount) }"
      >
        <div class="story-slider_item slider-image" @click="clickevent()">
          <div class="story-slider_img">
            <img
              v-for="(item, index) in getGifs()"
              :key="index"
              :src="item.name"
              v-show="showGif[index]"
            />
            <!-- <video autoplay loop muted playsinline>
              <source src="../assets/olatestvideo.mp4" type="video/mp4" />
            </video>-->
          </div>
        </div>
        <div
          class="content-text card shadow1"
          v-bind:style="{ 'top': textposition.top, 
  'left': textposition.left, 
  'width': textposition.width }"
        >
          <span class="content-text_main">{{ items[pagecount].caption }}</span>
        </div>
      </div>
      <div class="blobs">
        <a class="discoverbutton" data-title="Discover More" @click="openAnimation()"></a>
        <div class="blob sapbutton" :class="{'blobopen': open}" @click="routeToSAP">SAP</div>
        <div class="blob eybutton" :class="{'blobopen': open}" @click="routeToEY">EY</div>
        <div class="blob mhpbutton" :class="{'blobopen': open}" @click="routeToMHP">MHP</div>
      </div>
      <!--
    <div class="buttonwrapper eywrapper">
      <a class="discoverbutton eybutton" @click="routeToEY" data-title="Discover More"></a>
    </div>
    <div class="buttonwrapper sapwrapper">
      <a class="discoverbutton sapbutton" @click="routeToSAP" data-title="Discover More"></a>
    </div>
    <div class="buttonwrapper mhpwrapper">
      <a class="discoverbutton mhpbutton" @click="routeToMHP" data-title="Discover More"></a>
      </div>-->
    </div>
  </div>
</template>





<script>
import router from "../router";
import store from "../store";
import { mapState } from "vuex";
import Vue from "vue";

export default {
  name: "StorySlider",
  methods: {
    getGifs() {
      return this.items[this.pagecount].gifsrc;
    },
    openAnimation() {
      if (this.open == false) {
        //this.close = false;
        this.open = !this.open;
      } else {
        this.open = !this.open;
        //this.close = !this.close;
      }
    },
    setGifArray() {
      if (this.showGif.length == 0) {
        for (let index = 0; index < this.getGifs().length; index++) {
          if (
            index ==
            store.state.currentInnerPageCount[this.items[this.pagecount].number]
          ) {
            this.showGif.push(true);
          } else {
            this.showGif.push(false);
          }
        }
      } else {
        let index = this.showGif.indexOf(true);
        Vue.set(this.showGif, index, !this.showGif[index]);
        Vue.set(
          this.showGif,
          store.state.currentInnerPageCount[this.items[this.pagecount].number],
          true
        );
      }
    },
    transairport: function() {
      router.push({ path: "airport" });
    },
    clickevent: function() {
      this.$emit("clicked");
    },
    imgurl(i) {
      var url = "url(" + this.items[i].picturesrc + ")";
      return url;
    },
    routeToEY() {
      router.push({ name: "lobby", params: { path: "ey" } });
    },
    routeToSAP() {
      router.push({ name: "lobby", params: { path: "sap" } });
    },
    routeToMHP() {
      router.push({ name: "lobby", params: { path: "mhp" } });
    }
    /*
    controlgifsingle() {
      this.$emit("giffinished", this.solution);
    },
    controlgifmulti() {
      console.log("Hello");
      this.showfirstpic = false;
      this.showsecondpic = true;
      setTimeout(this.controlgifsingle, this.gifs[1].duration);
    }*/
  },
  data() {
    return {
      textposition: this.items[this.pagecount].textposition,
      showfirstpic: true,
      showsecondpic: false,
      showGif: [],
      open: false,
      innerPageCount:
        store.state.currentInnerPageCount[this.items[this.pagecount].number]
    };
  },
  mounted() {
    /*if (this.gifs.length > 1) {
      setTimeout(this.controlgifmulti, this.gifs[0].duration);
    } else {
      setTimeout(this.controlgifsingle, this.gifs[0].duration);
    }*/
    this.setGifArray();
  },
  computed: {
    ...mapState(["pagecountChangeTrigger"])
  },
  watch: {
    pagecountChangeTrigger: function(val) {
      this.setGifArray();
    }
  },
  props: ["items", "pagecount"]
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$button-items: 3;
$open-distance: 105px;

* {
  box-sizing: border-box;
}

.main {
  /*
background: #000000;  
background: -webkit-linear-gradient(to right, #434343, #000000);  
background: linear-gradient(to right, #434343, #000000); 
*/
}

.content-text {
  position: absolute;
  text-align: left;
  top: 71%;
  left: 67%;
  width: 32%;
  &_main {
    //color: #4b4b4b;
    color: #fff;
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
  }
}

.card {
  padding: 1.5% 2%;
  background: linear-gradient(135deg, #0faaff, #0076cb);
  //background: #4b4b4b;
  border-radius: 10px;
  //margin: 60px auto;
}

.shadow1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.buttonwrapper {
  position: absolute;
  bottom: 9%;
}

.sapwrapper {
  right: 8.7%;
}

.eywrapper {
  right: 19.7%;
}

.mhpwrapper {
  right: 30.7%;
}

.sapbutton {
  background: linear-gradient(135deg, #0faaff, #0076cb);
}

.eybutton {
  background: linear-gradient(135deg, #fffa54, #ffdb00);
}

.mhpbutton {
  background: linear-gradient(135deg, #262ba6, #28468e);
}

.blob {
  color: white;
  position: absolute;
  width: 40%;
  padding: 1em;
  bottom: 5%;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  transition: transform ease-out 200ms;
}

.blobopen {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  @for $i from 1 through $button-items {
    &:nth-child(#{$i + 1}) {
      transition-duration: 90ms+ (100ms * $i);
      @media only screen and (min-width: 1921px) {
        transform: translate3d(-306px * $i, 0, 0);
      }

      @media only screen and (min-width: 1401px) and (max-width: 1920px) {
        transform: translate3d(-136px * $i, 0, 0);
      }

      @media only screen and (max-width: 1400px) {
        transform: translate3d(-116px * $i, 0, 0);
      }
    }
  }
}

.blobclosed {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.blobs {
  z-index: 2;
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 0;
  right: 0;
  top: 86%;
  left: 82.3%;
}

.discoverbutton {
  background: linear-gradient(135deg, rgb(255, 179, 0), #ffcd29);
  z-index: 3;
  position: relative;
  display: inline-block;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0))
      rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
  }

  &:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  &::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform 0.2s ease;
    font-weight: bold;
    letter-spacing: 0.01em;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0))
      rotateY(var(--ry, 0));
  }
}

.story-slider {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  text-align: center;

  &_wrapper {
    width: 75%;
    position: relative;
    margin: 2.5% auto 3% 18%;
    background-position: top 0 left 100%;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 25px;
    height: auto;
    transition: all 0.3s;

    @media screen and (max-width: 1400px) {
      background-position: top 0 left 25%;
    }
  }

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: 350px;
  }

  &_item {
    /*height: 100%;
    width: 44%;*/
    height: 96%;
    width: 30%;
    display: flex;
    align-items: center;
    //Added:
    margin-top: 1%;

    transform: translateX(-36%);

    @media screen and (max-width: 992px) {
      // width: 45%;
    }

    @media screen and (max-width: 768px) {
      transform: translateY(-50%);
      width: 90%;
      flex-direction: column;
    }

    @media screen and (max-width: 576px) {
      width: 95%;
    }

    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }

    &.swiper-slide-active {
      .story-slider_img {
        img {
          opacity: 1;
          transition-delay: 0.3s;
        }
      }

      .story-slider_content {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.3s;
            }
          }
        }
      }
    }
  }

  &_img {
    // width: 40%;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;

    /*&:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }*/

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 100;
      //transition: all 0.3s;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      //box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    }

    @media screen and (max-width: 1400px) {
      border-radius: 70px;
    }

    @media screen and (min-width: 1401px) and (max-width: 1920px) {
      border-radius: 70px;
    }
    @media screen and (min-width: 1921px) {
      border-radius: 140px;
    }
  }

  &_content {
    // width: 60%;
    padding-right: 25px;

    @media screen and (max-width: 992px) {
      // width: 55%;
    }

    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 0;
    }

    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.4s;
    }
  }

  &_code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }

  &_title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }

  &_text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }

  &_button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }

  &_pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0;

      @media screen and (max-width: 768px) {
        margin: 0 5px;
      }
    }

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all 0.3s;

      &-active {
        opacity: 1;
        background: #fd3838;
        height: 30px;
        box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

        @media screen and (max-width: 768px) {
          height: 11px;
          width: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1921px) {
  .story-slider_item {
    height: 97%;
    width: 32%;
  }

  .content-text_main {
    font-size: 2.1em !important;
  }

  .content-text {
    font-size: 2.1em !important;
    margin-top: 4%;
  }

  .discoverbutton,
  .blob {
    font-size: 2.1em;
  }

  .blob {
    padding: 1em 2.8em;
    width: auto;
  }

  .blobs {
    left: 81.9%;
    top: 87%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
}

@media only screen and (max-width: 1400px) {
  .content-text {
    margin-top: 6%;
  }

  .content-text_main {
    font-size: 2em !important;
  }

  .blobs {
    top: 85%;
    left: 78.6%;
  }
  .discoverbutton,
  .blob {
    font-size: 1em;
  }

  .blob {
    padding: 1em 1.8em;
    width: auto;
  }

  .story-slider_item {
    height: 89%;
    width: 38%;
    margin-top: 5%;
    margin-left: 5%;
  }

  .story-slider_img {
    border-radius: 47px;
  }

  .story-slider_wrapper {
    margin: 2.5% auto 4% 13%;
    width: 80%;
  }
}
</style>