<template>
  <div class="main">
    <div class="overlay-wrapper">
      <div class="overlay-left overlay"></div>
      <div class="overlay-right overlay"></div>
    </div>
    <div id="wrapper">
      <div v-on:click="transtrain" class="itemwrapper">
        <div class="text-mid">CHOOSE YOUR JOURNEY</div>
        <div class="trainpic js-bg">
          <div class="text-wrapper">
            <div class="text-sm">Arrive at:</div>
            <div>Train Station</div>
          </div>
        </div>
      </div>

      <div v-on:click="transairport" class="itemwrapper">
        <div class="airportpic js-bg">
          <div class="text-wrapper">
            <div class="text-sm">Arrive at:</div>
            <div>Airport</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>





<script>
import router from "../router";
import store from "../store";

export default {
  name: "StoryDialer",
  methods: {
    transtrain: function() {
      store.commit("setStoryPath", "sbahn");
      router.push({ path: "transcentralstation" });
    },
    transairport: function() {
      store.commit("setStoryPath", "snap");
      router.push({ path: "transair" });
    }
  },
  props: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main {
  text-align: center;
}

body {
  margin: 0;
}

#wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  z-index: 1;
  overflow: hidden;
}

.itemwrapper {
  flex: 1 1 50%;
  z-index: 1;
  overflow: hidden;
}

.itemwrapper .js-bg {
  animation: pic 2s;
  animation-fill-mode: forwards;
  transform: translate(0%, 0%) scale(1.3);
  animation: pic 2s;
  animation-fill-mode: forwards;
}

.js-bg {
  z-index: 1;
  display: block;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.trainpic {
  background-image: url("../assets/subway.png");
  background-position: top 0 left 100%;
  background-size: cover;
  overflow: hidden;
}

.airportpic {
  background-image: url("../assets/airplane.png");
  background-position: top 0 left 100%;
  background-size: cover;
  overflow: hidden;
}

.overlay-wrapper {
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
}

.overlay {
  background-color: black;
  animation: slideout 2.5s;
  height: 100vh;
  display: inline-block;
  z-index: 3;
  overflow: hidden;
}

.overlay-right {
  float: right;
}

.js-bg > div {
  text-align: left;
  font-size: 2.8rem;
  font-weight: 600;
  color: white;
}

.text-sm {
  font-size: 1.8rem;
}

.text-mid {
  text-align: left;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  color: #ffaf00;
  margin: 2% 0 0 5%;
  word-wrap: normal;
  width: 50%;
}

.text-wrapper {
  padding: 80% 0 0 8%;
}

.text-mid {
  font-size: 3rem;
}

@keyframes slideout {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
    z-index: -1;
  }
}

@keyframes pic {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
  }
}

@media only screen and (min-width: 1921px) {
  .text-sm {
    font-size: 2.8rem;
  }

  .js-bg > div {
    font-size: 5.8rem;
  }

  .text-mid {
    font-size: 5em;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .text-wrapper {
    padding: 106% 0 0 8%;
  }
  .text-mid {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .text-mid {
    font-size: 2rem;
  }

  .js-bg > div {
    font-size: 2.2rem;
  }

  .text-sm {
    font-size: 1.2rem;
  }
}
</style>