<template>
  <div class="main">
    <video-bg :sources="[path3]" img="../assets/frankfurttop.jpg">
      <div style="text-align: center">
        <OverlayMenu />
        <div class="text-wrapper">
          <transition name="fade">
            <div v-if="isShowing">
              <div class="title-container">
                <div id="firstTitle">Experience</div>
                <div id="secondTitleContainer">
                  <span id="secondTitle">New Mobility</span>
                </div>
              </div>
              <div class="subtitle">
                <div class="subtitle-fixed bold">Travel to the IAA:&nbsp;</div>
                <b>
                  <div class="subtitle-inner">
                    Pay
                    <br />Book
                    <br />Experience
                  </div>
                </b>
                <div class="subtitle-fixed">your ride</div>
              </div>
            </div>
          </transition>
          <div class="startcontainer">
            <div class="buttoncontainer upper">
              <h3 :class="{'playbutton':true, 'transform': animated}">Continue SNAP Journey</h3>
              <label
                :class="{'circle playbutton':true, 'animated': animated}"
                @animationend="animated = false"
                for="toogle"
                v-on:click="startjourneysnap"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="22"
                  viewBox="0 0 20 22"
                  id="polygon"
                >
                  <path
                    id="Polygon_1"
                    data-name="Polygon 1"
                    d="M11,0,22,20H0Z"
                    transform="translate(20) rotate(90)"
                    fill="#ffaf00"
                  />
                </svg>
              </label>
            </div>
            <div class="buttoncontainer down">
              <h3 :class="{'playbutton':true, 'transform': animated}">Continue S-Bahn Journey</h3>
              <label
                :class="{'circle playbutton':true, 'animated': animated}"
                @animationend="animated = false"
                for="toogle"
                v-on:click="startjourneysbahn"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="22"
                  viewBox="0 0 20 22"
                  id="polygon"
                >
                  <path
                    id="Polygon_1"
                    data-name="Polygon 1"
                    d="M11,0,22,20H0Z"
                    transform="translate(20) rotate(90)"
                    fill="#ffaf00"
                  />
                </svg>
              </label>
            </div>
          </div>
        </div>
        <!--<div class="logo-wrapper">
          <img class="logo mhp" src="../assets/mhplogo.svg" />
          <img class="logo sap" src="../assets/saplogo.svg" />
        </div>-->
      </div>
    </video-bg>
    <div class="hilight"></div>
  </div>
</template>

<script>
import VideoBg from "vue-videobg";
import OverlayMenu from "@/components/OverlayMenu";
import router from "../router";
import store from "../store";

export default {
  name: "VideoBackgroundPod2",
  components: {
    VideoBg,
    OverlayMenu
  },
  data() {
    return {
      path: require("../assets/london_nighttraffic.mp4"),
      path2: require("../assets/droneshot.mp4"),
      path3: require("../assets/droneshotstable.mp4"),
      isShowing: true,
      animated: false
    };
  },
  methods: {
    startjourneysbahn: function(event) {
      this.isShowing = false;
      this.animated = true;
      store.commit("setStoryPath", "sbahn");
      router.push({ path: this.routerPathSBAHN });
    },
    startjourneysnap: function(event) {
      this.isShowing = false;
      this.animated = true;
      store.commit("setStoryPath", "snap");
      router.push({ path: this.routerPathSNAP });
    },
    toggleShow() {
      this.isShowing = !this.isShowing;
    }
  },
  props: {
    routerPathSNAP: String,
    routerPathSBAHN: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
$circle: rgb(255, 255, 255);
$sub-circle: #f50057;

$transition: 0.1;
$transalteValue: 100;
$translate75: $transalteValue * 0.75;

#polygon {
  @media screen and (max-width: 1400px) {
    height: 20px;
    width: 22px;
  }

  @media screen and (min-width: 1401px) and (max-width: 1920px) {
    height: 20px;
    width: 22px;
  }
  @media screen and (min-width: 1921px) {
    height: 35px;
    width: 37px;
  }
}

.startcontainer {
  display: block;
  position: absolute;
  left: 15%;
}

.circle {
  display: block;
  position: relative;
  padding: 0;
  z-index: 10;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-color: $circle;
  transition: 0.2s;
  text-align: center;
  &:active {
    transform: scale(0.9);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  }

  &:hover {
    cursor: pointer;
    background-color: lighten($circle, 10%);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width: 1400px) {
    height: 60px;
    width: 60px;
    margin: 0 25px;
  }

  @media screen and (min-width: 1401px) and (max-width: 1920px) {
    height: 60px;
    width: 60px;
    margin: 0 25px;
  }
  @media screen and (min-width: 1921px) {
    height: 80px;
    width: 80px;
    margin: 60px 20px !important;
  }
}

label {
  background-color: $sub-circle;
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 40px;
  transition: 200ms;
  &:hover {
    cursor: pointer;
    background-color: lighten($circle, 10%);
  }
}
</style>

<style lang="scss" scoped>
$animation1-length: 26s;
$animation1-delay: 0s;
$animation2-length: 13s;
$animation2-delay: 0s;

.VideoBg {
  min-height: 640px;
}

.VideoBg__content {
  text-align: center;
  background-color: rgba(52, 72, 92, 0.7);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

* {
  margin: 0;
}

img {
  width: 200px;
  margin-top: 120px;
}

h1,
h4,
.subtitle-fixed,
h3,
.buttoncontainer {
  cursor: default;
  z-index: 2;
}
.buttoncontainer {
  display: block;
}

.upper {
  margin-left: 2.5%;
}

a {
  text-decoration: none;
}

h3 {
  margin: 25px 0 0 0;
  font-weight: bold;
  color: #ffffff;
}

h4,
a {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7f8c8d;
}

.title-container {
  display: block;
  margin-bottom: 1%;
}

#firstTitle {
  animation: showup $animation1-length infinite;
  animation-delay: $animation1-delay;
  margin-right: 0px;
}

#firstTitle,
#secondTitle {
  font-weight: bold;

  color: #ffaf00;
  text-shadow: 2px 2px 4px #000000;
}

#firstTitle,
#secondTitleContainer {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#secondTitleContainer {
  width: 0px;
  animation: reveal $animation1-length infinite;
  animation-delay: $animation1-delay;
}

#secondTitle {
  animation: slidein $animation1-length infinite;
  animation-delay: $animation1-delay;
}

.logo-wrapper {
  position: absolute;
  right: 25%;
  left: 25%;
  bottom: 4%;
}

.logo {
  width: 150px;
}

.sap {
  margin-left: 45px;
}

.subtitle {
  display: inline-block;
}

.subtitle-fixed {
  color: #ffffff;
  animation: showup $animation1-length infinite;
  animation-delay: $animation1-delay;
  font-size: 3em;
  float: left;
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.subtitle b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 55px;
  top: 0px;
  font-size: 3em;
}

.subtitle .subtitle-inner {
  display: inline-block;
  color: #ffaf00;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move $animation2-length;
  -moz-animation: move 7s;
  -ms-animation: move 7s;
  -o-animation: move 7s;
  animation: showup $animation1-length, move $animation2-length;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite, infinite;
  /*animation-delay*/
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: $animation1-delay, $animation2-delay;
}

@media only screen and (min-width: 1921px) {
  #firstTitle,
  #secondTitle {
    font-size: 14em;
  }

  .subtitle b {
    font-size: 6em;
    height: 102px;
  }

  .subtitle-fixed {
    font-size: 6em;
  }

  #secondTitle {
    margin-left: -1500px;
  }

  .text-wrapper {
    padding-top: 16%;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 5em;
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 1500px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 1500px;
    }
  }

  @keyframes move {
    0% {
      top: 0px;
    }
    48% {
      top: 0px;
    }
    56% {
      top: -105px;
    }
    64% {
      top: -236px;
    }
    72% {
      top: 0px;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -1500px;
    }
    20% {
      margin-left: -1500px;
    }
    35% {
      margin-left: 0px;
    }
    100% {
      margin-left: 0px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  #firstTitle,
  #secondTitle {
    font-size: 5em;
  }

  #secondTitle {
    margin-left: -540px;
  }

  .text-wrapper {
    padding-top: 20%;
    text-align: center;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 3em;
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 540px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 540px;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }
    20% {
      margin-left: -800px;
    }
    35% {
      margin-left: 0px;
    }
    100% {
      margin-left: 0px;
    }
  }

  @keyframes move {
    0% {
      top: 0px;
    }
    48% {
      top: 0px;
    }
    56% {
      top: -55px;
    }
    64% {
      top: -112px;
    }
    72% {
      top: 0px;
    }
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
  #firstTitle,
  #secondTitle {
    font-size: 8em;
  }

  #secondTitle {
    margin-left: -850px;
  }

  .text-wrapper {
    padding-top: 16%;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 3em;
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 850px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 850px;
    }
  }

  @keyframes move {
    0% {
      top: 0px;
    }
    48% {
      top: 0px;
    }
    56% {
      top: -55px;
    }
    64% {
      top: -112px;
    }
    72% {
      top: 0px;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }
    20% {
      margin-left: -800px;
    }
    35% {
      margin-left: 0px;
    }
    100% {
      margin-left: 0px;
    }
  }
}
.hilight {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.buttoncontainer {
  display: inline-block;
}

.playbutton {
  float: left;
  margin-top: 50px;
}

#polygon {
  margin-top: 20px;
  margin-left: 6px;
}

.animated {
  transform: translateX(-180px);
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
</style>