<template>
  <div class="home">
    <OverlayMenu />
    <div class="closing-wrapper buttonContainer" v-on:click="closing">
      <img src="../assets/cross.svg" class="cross" />
    </div>
    <IframeFullScreenComponent
      :path="eyclickpoint1"
      v-show="point == 'SmcEYIntroduction'"
      v-if="point == 'SmcEYIntroduction'"
    />
    <IframeFullScreenComponent
      :path="eyclickpoint2"
      v-show="point == 'SmcEYVision'"
      v-if="point == 'SmcEYVision'"
    />
    <IframeFullScreenComponent
      :path="eyclickpoint3"
      v-show="point == 'SmcEYMobUseCase'"
      v-if="point == 'SmcEYMobUseCase'"
    />
    <IframeFullScreenComponent
      :path="eyclickpoint4"
      v-show="point == 'SmcEYMobBusinessTrans'"
      v-if="point == 'SmcEYMobBusinessTrans'"
    />
    <IframeFullScreenComponent
      :path="eyclickpoint5"
      v-show="point == 'SmcEYOrganicTrans'"
      v-if="point == 'SmcEYOrganicTrans'"
    />
    <IframeFullScreenComponent
      :path="eyclickpoint6"
      v-show="point == 'SmcEYNonOrganicTrans'"
      v-if="point == 'SmcEYNonOrganicTrans'"
    />
    <IframeFullScreenComponent
      :path="eyclickpoint7"
      v-show="point == 'SmcEYTransBackoffice'"
      v-if="point == 'SmcEYTransBackoffice'"
    />
    <IframeFullScreenComponent
      :path="eyclickpoint8"
      v-show="point == 'SmcEYITTrans'"
      v-if="point == 'SmcEYITTrans'"
    />
    <IframeFullScreenComponent
      :path="eyclickpoint9"
      v-show="point == 'SmcEYCybersec'"
      v-if="point == 'SmcEYCybersec'"
    />
  </div>
</template>

<script>
// @ is an alias to /src
//import StoryDialer from '@/components/StoryDialer.vue';
import IframeFullScreenComponent from "@/components/IframeFullScreenComponent.vue";
import OverlayMenu from "@/components/OverlayMenu.vue";
import router from "../router";

export default {
  name: "Survey",
  components: { IframeFullScreenComponent, OverlayMenu },
  data() {
    return {
      eyclickpoint1:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={360a4045-b2c9-460e-90da-18a8c6a0db61}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      //   "https://sap.sharepoint.com/teams/IBU_Automotive/_layouts/15/Doc.aspx?sourcedoc={b4486a14-ff39-404d-9935-5dc639e9f214}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      eyclickpoint2:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={e12d7513-4108-493d-8df5-b2b5072f49cf}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      // "https://sap.sharepoint.com/teams/IBU_Automotive/_layouts/15/Doc.aspx?sourcedoc={3a0df020-52d4-47eb-8c33-7b1e68518b4d}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      eyclickpoint3:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={51897c17-a6bc-4e56-9c7c-fe027434d971}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      // "https://sap.sharepoint.com/teams/IBU_Automotive/_layouts/15/Doc.aspx?sourcedoc={41639a43-79ba-4adf-97db-8196eee0c207}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      eyclickpoint4:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={e18eb081-8f3f-4a36-8d6f-9bc97cb5a519}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      //  "https://sap.sharepoint.com/teams/IBU_Automotive/_layouts/15/Doc.aspx?sourcedoc={f5ec0348-3a91-4d5f-88b6-8bd603677ef6}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      eyclickpoint5:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={1106a828-82ba-49d7-82f0-a3118299fa20}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      //  "https://sap.sharepoint.com/teams/IBU_Automotive/_layouts/15/Doc.aspx?sourcedoc={f728e956-98ae-4ac6-90e8-164afaee8e8e}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      eyclickpoint6:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={93e6422f-d620-4a6c-a28d-430d357a7045}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      //  "https://sap.sharepoint.com/teams/IBU_Automotive/_layouts/15/Doc.aspx?sourcedoc={b52d5004-5909-4d4d-86cc-eda151b5f0a5}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      eyclickpoint7:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={ac0f98d2-d49f-4dcc-9e4f-79bf9a609bdf}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      //  "https://sap.sharepoint.com/teams/IBU_Automotive/_layouts/15/Doc.aspx?sourcedoc={393a8b36-305d-451f-b955-7d8c2b7ed9a7}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      eyclickpoint8:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={72e9e0f4-627d-4d9c-b8b3-cee5740b9f66}&amp;action=embedview&amp;wdAr=1.7777777777777776",
      //  "https://sap-my.sharepoint.com/personal/daniel_grathwol_sap_com/_layouts/15/Doc.aspx?sourcedoc={a8c80197-dbf1-40af-9db3-1eefce33ba3c}&amp;action=embedview&amp;wdAr=1.7777777777777777",
      eyclickpoint9:
        "https://people.ey.com/personal/maximilian_genser_de_ey_com/_layouts/15/Doc.aspx?sourcedoc={859635b1-642a-4faf-afc2-bd0942b4381a}&amp;action=embedview&amp;wdAr=1.7777777777777776"
      //  "https://sap.sharepoint.com/teams/IBU_Automotive/_layouts/15/Doc.aspx?sourcedoc={161c7ddb-2cb3-414b-9b3d-b0d78996b591}&amp;action=embedview&amp;wdAr=1.7777777777777776"
    };
  },
  methods: {
    closing() {
      router.push({ name: "lobby", params: { path: "ey" } });
    }
  },
  props: ["point"]
};
</script>

<style lang="scss" scoped>
.survey {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.buttonContainer {
  z-index: 100;

  @media screen and (max-width: 1400px) {
  }

  @media screen and (min-width: 1401px) and (max-width: 1920px) {
  }
  @media screen and (min-width: 1921px) {
  }
}

.closing-wrapper {
  position: absolute;
  right: 4%;
  top: 10%;
  width: 10%;
  display: block;
}

vue-friendly-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
</style>
