<template>
  <div class="home">
    <VideoBackgroundPod2 :routerPath="'sbahn'" />
  </div>
</template>

<script>
// @ is an alias to /src
import VideoBackgroundPod2 from "@/components/VideoBackgroundPod2.vue";

export default {
  name: "homepod2bahn",
  components: {
    VideoBackgroundPod2
  }
};
</script>

<style>
.VideoBg__content {
  z-index: 2;
}
</style>