<template>
  <div class="home">
    <VideoBackground />
  </div>
</template>

<script>
// @ is an alias to /src
import VideoBackground from "@/components/VideoBackground.vue";

export default {
  name: "home",
  components: {
    VideoBackground
  },
  data() {
    return {};
  }
};
</script>

<style>
.VideoBg__content {
  z-index: 2;
}
</style>


