<template>
  <div class="home">
    <VideoBackgroundPod3 :routerPathSNAP="'paysnap'" :routerPathSBAHN="'paysbahn'"/>
  </div>
</template>

<script>
// @ is an alias to /src
import VideoBackgroundPod3 from "@/components/VideoBackgroundPod3.vue";

export default {
  name: "HomePod3",
  components: {
    VideoBackgroundPod3
  }
};
</script>

<style>
.VideoBg__content {
  z-index: 2;
}
</style>