<template>
  <div class="home">
    <OverlayMenu />
    <SolutionModal
      :solutions="contentArray[pagecount].solutions"
      :showModalSolution="currentActiveSolution"
      v-if="showModal"
      v-on:closemodal="showModal = false"
    />
    <div v-if="showSolution">
      <div v-for="(item, index) in getSolutionPoints()" @click="clickOnSolution(item)" :key="index">
        <SolutionPoint class="solution-point" :content="item" />
      </div>
    </div>
    <div class="main">
      <div v-if="getShowablePattern().slider">
        <StorySlider
          v-for="(item, index) in getTypeAmount(frameworktypes[0])"
          :key="index"
          v-show="getIndexesOfPartPicture[index] == pagecount"
          v-bind:pagecount="getIndexesOfPartPicture[index]"
          v-bind:items="contentArray"
          v-on:giffinished="showSolution = true"
          v-on:clicked="clickOnWebsite(contentArray[pagecount])"
        />
      </div>
      <div v-if="getShowablePattern().picture">
        <BackgroundPicture
          v-for="(item, index) in getTypeAmount(frameworktypes[1])"
          :key="index"
          v-show="getIndexesOfFullPicture[index] == pagecount"
          v-bind:pagecount="getIndexesOfFullPicture[index]"
          v-bind:items="contentArray"
          v-on:clicked="clickOnWebsite(contentArray[pagecount])"
        />
      </div>
      <div v-if="getShowablePattern().video">
        <BackgroundVideo
          v-for="(item, index) in getTypeAmount(frameworktypes[2])"
          :key="index"
          v-show="getIndexesOfFullVideo[index] == pagecount"
          v-bind:pagecount="getIndexesOfFullVideo[index]"
          v-bind:items="contentArray"
          v-bind:currentIndex="pagecount"
          v-on:videoended="incrementVideo(getIndexesOfFullVideo[index])"
        />
      </div>
      <div v-if="getShowablePattern().iframe">
        <IframeComponent
          v-for="(item, index) in getTypeAmount(frameworktypes[3])"
          :key="index"
          v-show="getIndexesOfIframe[index] == pagecount"
          v-bind:pagecount="getIndexesOfIframe[index]"
          v-bind:items="contentArray"
          v-on:giffinished="showSolution = true"
          v-on:clicked="clickOnWebsite(contentArray[pagecount])"
        />
      </div>
      <div class="buttonContainer buttonleft" v-on:click="decrement">
        <a href="#" class="arrow left"></a>
      </div>
      <div class="buttonContainer buttonright" v-on:click="increment">
        <a href="#" class="arrow right"></a>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import StorySlider from "@/components/StorySlider.vue";
import OverlayMenu from "@/components/OverlayMenu.vue";
import SolutionPoint from "@/components/SolutionPoint.vue";
import SolutionModal from "@/components/SolutionModal.vue";
import BackgroundPicture from "@/components/BackgroundPicture.vue";
import BackgroundVideo from "@/components/BackgroundVideo.vue";
import IframeComponent from "@/components/IframeComponent.vue";
import store from "../store";
import router from "../router";

export default {
  name: "PayRideSnapThree",
  components: {
    StorySlider,
    OverlayMenu,
    SolutionPoint,
    SolutionModal,
    BackgroundPicture,
    BackgroundVideo,
    IframeComponent
  },
  methods: {
    //Check how many divs of each Mode must be there
    getTypeAmount(mode) {
      let array = [];
      this.contentArray.forEach(element => {
        if (element.mode == mode) {
          array.push(element);
        }
      });
      return array;
    },
    //Get Index of div
    getIndexOfPart(index, mode) {
      let ModeCounter = 0;
      let counter = 0;
      this.contentArray.forEach(element => {
        if (element.mode == mode) {
          ModeCounter++;
        }
        if (ModeCounter == index + 1) {
          return counter;
        }
        counter++;
      });
    },
    getShowablePattern() {
      return store.state.storyframeworkconfig[0];
    },
    increment() {
      this.cleartemp();
      store.commit("incrementPageCount");
      this.showSolution = false;
      this.pagecount = store.state.currentStoryPageCount;

      if (store.state.currentStoryPageCount >= this.contentArray.length) {
        if (store.state.showLobbySAP) {
          store.commit("setEndstate");
          router.push({ name: "lobby", params: { path: "sap" } });
        } else {
          store.commit("setEndstate");
          router.push({ name: "lobby", params: { path: "ey" } });
        }
      }
    },
    decrement() {
      this.cleartemp();
      if (store.state.currentStoryPageCount != 0) {
        store.commit("decrementPageCount");
        this.pagecount = store.state.currentStoryPageCount;
      } else {
        router.push({ path: "snap" });
      }
    },
    incrementVideo(index) {
      if (
        store.state.videoatfirst &&
        this.contentArray[this.pagecount].mode == "fullvideo" &&
        this.pagecount == index
      ) {
        this.increment();
        store.commit("changeVideoFirst");
      }
    },
    cleartemp() {
      this.showSolution = false;
      this.currentActivePoints = [];
      this.clickcountersum = 0;
      this.clickcounterSol = 0;
      this.clickcounterApp = 0;
    },
    clickOnWebsite(item) {
      if (
        item.clickpath &&
        item.clickpath.size > 0 &&
        this.clickcountersum < item.clickpath.size
      ) {
        var obj = item.clickpath.get(this.clickcountersum);

        if (obj.id < 10 && this.clickcountersum == 0) {
          this.clickcountersum++;
          obj = item.clickpath.get(this.clickcountersum);
        }
        if (obj.id >= 10 && store.state.showSolutionPoints) {
          if (obj.row == true) {
            this.currentActivePoints.push(item.solutions[this.clickcounterSol]);
            this.clickcounterSol++;
            this.showSolution = true;
          } else {
            this.currentActivePoints = [];
            this.currentActivePoints.push(item.solutions[this.clickcounterSol]);
            this.clickcounterSol++;
            this.showSolution = true;
          }
        } else {
          if (obj.row == false) {
            this.showSolution = false;
            this.currentActivePoints = [];
            this.clickcounterApp++;
            store.commit("incrementInnerPageCount", item.number);
          } else {
            this.clickcounterApp++;
            store.commit("incrementInnerPageCount", item.number);
          }
        }
        this.clickcountersum++;
      }
    },
    getSolutionPoints() {
      return this.currentActivePoints;
    },
    clickOnSolution(value) {
      this.currentActiveSolution = value;
      this.showModal = true;
    }
  },
  data() {
    return {
      pagecount: store.state.currentStoryPageCount,
      frameworktypes: store.state.frameworktypes, //'partpicture', 'fullpicture', 'fullvideo', 'iframe'
      siteIsCached: false,
      showModal: false,
      showSolution: false,
      currentActiveSolution: "",
      currentActivePoints: [],
      clickcountersum: 0,
      clickcounterSol: 0,
      clickcounterApp: 0,
      contentArray: [
        {
          name: "Paying",
          mode: "fullpicture",
          caption: "Steven arrived at the IAA with the scooter",
          picturesrc: require("../assets/iaanewmobilityworld.jpg"),
          color: "#ffaf00",
          textposition: {
            top: "71%",
            left: "64.3%",
            width: "27%"
          }
        },
        {
          name: "PayingSnap",
          mode: "partpicture",
          caption: "At the end Steven just has to approve the bill",
          picturesrc: require("../assets/leaningoutside.jpg"),
          color: "#ffaf00",
          number: 0,
          //value < 10 is  Screen, value > 10 is Solution point, if false change
          clickpath: new Map([
            [0, { id: 0, row: true }],
            [1, { id: 1, row: true }],
            [2, { id: 2, row: true }],
            [3, { id: 3, row: true }],
            [4, { id: 4, row: true }]
          ]),
          solutions: [
            {
              name: "SmcBRIMBilling",
              pointsubtitle: "Subscription Billing enabled by",
              pointtitle: "BRIM",
              cardheight: "7%",
              cardwidth: "29%",
              bigger: true,
              topMargin: 58,
              leftMargin: 13
            },
            {
              name: "SmcConcur",
              pointsubtitle: "Travel Expense Management by",
              pointtitle: "Concur",
              cardheight: "7%",
              cardwidth: "29%",
              bigger: true,
              topMargin: 58,
              leftMargin: 19
            },
            {
              name: "SmcBRIMSwoosh",
              pointsubtitle: "Full Billing Integration via",
              pointtitle: "Swoosh App",
              cardheight: "7%",
              cardwidth: "29%",
              bigger: true,
              topMargin: 58,
              leftMargin: 19
            }
          ],
          gifsrc: [
            {
              name: require("../assets/appgifs/airport/14-IAA-Shopping-card-V2-1_1.gif"),
              duration: 8000
            },
            {
              name: require("../assets/appgifs/airport/14-IAA-Shopping-card-V2-2_1.gif"),
              duration: 8000
            },
            {
              name: require("../assets/appgifs/airport/15-IAA-Payment-V2-1_1.gif"),
              duration: 8000
            },
            {
              name: require("../assets/appgifs/airport/15-IAA-Payment-V2-2_1.gif"),
              duration: 8000
            },
            {
              name: require("../assets/appgifs/airport/16-IAA-Rating-V2_1.gif"),
              duration: 8000
            }
          ],
          textposition: {
            top: "65%",
            left: "65.8%",
            width: "32%"
          }
        }
      ]
    };
  },
  mounted() {
    //store.commit("setInitialPageCount");
  },
  computed: {
    getIndexesOfPartPicture: function() {
      let counter = 0;
      let array = [];
      let amount = this.getTypeAmount(this.frameworktypes[0]);
      this.contentArray.forEach(element => {
        if (element.mode == this.frameworktypes[0]) {
          array.push(counter);
        }
        counter++;
      });
      return array;
    },
    getIndexesOfFullPicture: function() {
      let counter = 0;
      let array = [];
      let amount = this.getTypeAmount(this.frameworktypes[1]);
      this.contentArray.forEach(element => {
        if (element.mode == this.frameworktypes[1]) {
          array.push(counter);
        }
        counter++;
      });
      return array;
    },
    getIndexesOfFullVideo: function() {
      let counter = 0;
      let array = [];
      let amount = this.getTypeAmount(this.frameworktypes[2]);
      this.contentArray.forEach(element => {
        if (element.mode == this.frameworktypes[2]) {
          array.push(counter);
        }
        counter++;
      });
      return array;
    },
    getIndexesOfIframe: function() {
      let counter = 0;
      let array = [];
      let amount = this.getTypeAmount(this.frameworktypes[3]);
      this.contentArray.forEach(element => {
        if (element.mode == this.frameworktypes[3]) {
          array.push(counter);
        }
        counter++;
      });
      return array;
    }
  },
  beforeRouteEnter(to, from, next) {
    store.commit("setStoryPart", to.name);
    if (from.name == "lobby" && store.state.endstate == false) {
    } else {
      store.commit("setInitialPageCount");
    }
    next();
  }
};
</script>

<style lang="scss" scoped>
.main {
  background: rgb(255, 198, 77);
  background: linear-gradient(
    90deg,
    rgba(255, 198, 77, 1) 0%,
    rgba(255, 174, 0, 1) 50%,
    rgba(250, 145, 0, 1) 100%
  );
}

.buttonContainer {
  z-index: 100;
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;

  &.buttonleft {
    left: 3%;
  }

  &.buttonright {
    right: 3%;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  width: 3vmin;
  height: 3vmin;
  background: transparent;
  border-top: 1vmin solid white;
  border-right: 1vmin solid white;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;

  &.left {
    left: 3%;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
  }

  &.right {
    right: 3%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }

  &:hover {
    border-color: #7f7f7f;
    box-shadow: 0.5vmin -0.5vmin 0 white;
  }

  &:before {
    // for better hit area
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
  }
}

.story-slider-enter-active {
  transition: all 0.3s ease;
}

.story-slider-enter, .story-slider-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
