<template>
  <div class="main">
    <SolutionMapSquare />
  </div>
</template>

<script>
// @ is an alias to /src

import SolutionMapSquare from "@/components/SolutionMapSquare";

export default {
  name: "SolutionMapTest",
  components: { SolutionMapSquare },
  data() {
    return {
      pointsArray: [
        { center: true, title: "Mobility as a Service", top: 50, left: 50 },
        { center: false, title: "iDMS", top: 45, left: 60 }
      ]
    };
  }
  /*mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "../scripts/fake3d.js");
    document.head.appendChild(recaptchaScript);
  }*/
};
</script>
<style lang="scss" scoped>
</style>