<template>
  <div class="main">
    <div class="headerwrapper">
      <img class="logo sap" src="../assets/saplogo.svg" @click="backtostartscreen()" />
      <div class="solution-title title" @click="backtostartscreen()">Solution Overview</div>
    </div>
    <SolutionModal
      :solutions="calculateShowingSolutions()"
      :showModalSolution="currentActiveSolution"
      v-if="showModal"
      v-on:closemodal="showModal = false"
    />
    <div class="overlay"></div>
    <div class="background"></div>
    <div class="network-container">
      <div v-if="!displaypart">
        <div
          class="dot-list"
          v-for="(dot, index) in calculateShowingSolutions()"
          :key="index"
          @click="clickOnSolution(dot)"
        >
          <SolutionPointSAP :title="dot.title" :topMargin="dot.top" :leftMargin="dot.left" />
        </div>
      </div>
      <div v-if="displaypart">
        <div
          class="dot-list"
          v-for="(dot, index) in calculateShowingSolutions()"
          :key="index"
          @click="clickOnSolution(dot)"
        >
          <SolutionPointSAP :title="dot.title" :topMargin="dot.top" :leftMargin="dot.left" />
        </div>
      </div>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import SolutionPointSAP from "@/components/SolutionPointSAP";
import OverlayMenu from "@/components/OverlayMenu";
import SolutionModal from "@/components/SolutionModal.vue";
import router from "../router.js";
import store from "../store.js";

export default {
  name: "SolutionMapSAP",
  components: { SolutionPointSAP, OverlayMenu, SolutionModal },
  data() {
    return {
      showSolution: false,
      showModal: false,
      displaypart: false,
      currentActiveSolution: "",
      solutionPartArray: {
        /*
        pod1: [1, 4, 5, 7],
        pod2: [0, 2, 3, 8, 9],
        pod3: [4, 6]*/
        pod1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        pod2: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        pod3: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
      },
      pointsArray: [
        {
          pointtitle: "SAP Leonardo - Machine Learning",
          title: "Intelligent Vehicle Recognition",
          name: "SmcMachineLearning",
          top: 70,
          left: 68
        },
        {
          pointtitle: "SAP Smart Fleet Management",
          title: "Fleet Management",
          name: "SmcFleetManagement",
          top: 58,
          left: 40
        },
        {
          pointtitle: "SAP C/4HANA Commerce Cloud",
          title: "Commerce Cloud",
          name: "SmcCommerceCloud",
          top: 10,
          left: 50
        },
        {
          pointtitle: "SAP C/4HANA Drivers Portal",
          title: "Drivers Portal",
          name: "SmcDriversPortal",
          top: 20,
          left: 25
        },
        {
          pointtitle: "SAP Customer Data Cloud",
          title: "Customer Data Cloud",
          name: "SmcCustomerDataCloud",
          top: 35,
          left: 65
        },
        {
          pointtitle: "SAP C/4HANA Marketing Cloud",
          title: "Marketing Cloud",
          name: "SmcMarketingCloud",
          top: 20,
          left: 75
        },
        {
          pointtitle: "SAP BRIM Park2Cash",
          title: "BRIM Billing",
          name: "SmcBRIMBilling",
          top: 35,
          left: 35
        },
        {
          pointtitle: "SAP iDMS",
          title: "Intelligent Digital Mobility Suite",
          name: "SmcIDMS",
          top: 45,
          left: 50
        },
        {
          pointtitle: "SAP C/4HANA Sales & Service Cloud",
          title: "Sales Cloud",
          name: "SmcSalesCloud",
          top: 20,
          left: 53
        },
        {
          pointtitle: "SAP Analytics & Sales Cloud",
          title: "Analytics Cloud",
          name: "SmcAnalyticsCloud",
          top: 68,
          left: 25
        }
      ]
    };
  },
  methods: {
    clickOnSolution(value) {
      this.currentActiveSolution = value;
      this.showModal = true;
    },
    calculateShowingSolutions() {
      let temparray = [];
      if (this.displayPoints == "all") {
        this.displaypart = false;
        temparray = this.pointsArray;
      } else if (this.displayPoints == "pod1") {
        this.displaypart = true;
        for (let i = 0; i < this.solutionPartArray.pod1.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod1[i]]);
        }
      } else if (this.displayPoints == "pod2") {
        this.displaypart = true;
        for (let i = 0; i < this.solutionPartArray.pod2.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod2[i]]);
        }
      } else if (this.displayPoints == "pod3") {
        this.displaypart = true;
        for (let i = 0; i < this.solutionPartArray.pod3.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod3[i]]);
        }
      }
      return temparray;
    },
    backtostartscreen() {
      if (this.displayPoints == "all") {
        router.push({ path: "/" });
      } else if (this.displayPoints == "pod1") {
        router.push({ path: "/" });
      } else if (
        this.displayPoints == "pod2" &&
        store.state.storypath == "snap"
      ) {
        router.push({ path: "/home2snap" });
      } else if (
        this.displayPoints == "pod2" &&
        store.state.storypath == "sbahn"
      ) {
        router.push({ path: "/home2sbahn" });
      } else if (this.displayPoints == "pod3") {
        router.push({ path: "/homepay" });
      }
    }
  },
  props: ["displayPoints"]
  /*mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "../scripts/fake3d.js");
    document.head.appendChild(recaptchaScript);
  }*/
};
</script>
<style lang="scss" scoped>
.background {
  background-image: url("../assets/frankfurttop.jpg");
  background-position: top 0 left 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: -2;
}

.solution-title {
  font-weight: bold;
}

.headerwrapper {
  position: absolute;
  left: 3%;
  top: 3%;
}

.title {
  font-size: 2.8em;
  text-align: left;
  margin-right: 22%;
  //color: #ffaf00;
  color: white;
  display: inline-block;
}

.logo {
  float: left;
  width: 15%;
}

.overlay {
  background-color: black;
  display: inline-block;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

@media only screen and (min-width: 1921px) {
  .title {
    font-size: 5.8em;
    margin-right: 9%;
  }
  .logo {
    margin-top: 1%;
  }
  .pushdown_arrow {
    width: 30%;
  }
  .pushdown {
    top: 10%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
}

@media only screen and (max-width: 1400px) {
}
</style>