<template>
  <div class="main">
    <OverlayMenu />
    <div v-show="maps[showMapToggle] == 'ey'">
      <SolutionMapEY :displayPoints="routeOrigin" />
    </div>
    <div v-show="maps[showMapToggle] == 'sap'">
      <SolutionMapSAP :displayPoints="routeOrigin" />
    </div>
    <div v-show="maps[showMapToggle] == 'mhp'">
      <SolutionMapMHP :displayPoints="routeOrigin" />
    </div>
    <div class="pushdown" @click="nextMap()">
      <img class="pushdown_arrow" src="../assets/pointing_down.svg" />
    </div>
    <div class="buttonwrapper allwrapper" v-if="routeOrigin != 'all'">
      <a class="discoverbutton button" @click="routeOrigin = 'all'" data-title="Show all Solutions"></a>
    </div>
    <div class="buttonwrapper backbutton" @click="getBackToStory()">
      <img class="backarrow left" src="../assets/back_white.svg" />
      <div class="solution-title titleleft">Back to Story</div>
    </div>
    <div class="buttonwrapper continuebutton" v-if="endstatusFinal" @click="routeToNextPod()">
      <div class="solution-title titleright">Next Story</div>
      <img class="backarrow right" src="../assets/back_white.svg" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import IframeFullScreenComponent from "@/components/IframeFullScreenComponent.vue";
import OverlayMenu from "@/components/OverlayMenu";
import SolutionMapEY from "@/views/SolutionMapEY";
import SolutionMapSAP from "@/views/SolutionMapSAP";
import SolutionMapMHP from "@/views/SolutionMapMHP";
import store from "../store.js";
import router from "../router";

export default {
  name: "SolutionMap",
  components: {
    OverlayMenu,
    SolutionMapEY,
    SolutionMapSAP,
    SolutionMapMHP,
    IframeFullScreenComponent
  },
  data() {
    return {
      routeOrigin: "all",
      showMapToggle: 0,
      maps: ["sap", "mhp", "ey"],
      endstatusFinal: store.state.endstate
    };
  },
  methods: {
    showMap() {
      if (this.path == "ey") {
        this.showMapToggle = 2;
      } else if (this.path == "mhp") {
        this.showMapToggle = 1;
      } else {
        this.showMapToggle = 0;
      }
    },
    nextMap() {
      if (this.showMapToggle < 2) {
        this.showMapToggle = this.showMapToggle + 1;
      } else {
        this.showMapToggle = 0;
      }
    },
    routeToNextPod() {
      let nextPath = store.getters.getNextStoryPart;
      if (nextPath) {
        store.commit("setInitialPageCount");
        router.push({ name: nextPath });
      }
    },
    getBackToStory() {
      let oldPath = store.getters.selectedStoryPart;
      if (oldPath) {
        router.push({ name: oldPath });
      }
    }
  },
  watch: {
    path: function() {
      this.showMap();
    }
  },
  mounted() {
    this.showMap();
    this.endstatusFinal = store.state.endstate;
  },
  activated() {
    this.endstatusFinal = store.state.endstate;
  },
  beforeRouteEnter(to, from, next) {
    let route;
    if (from.name == "AirportStoryOne" || from.name == "TrainStoryOne") {
      route = "pod1";
    } else if (from.name == "SbahnStoryTwo" || from.name == "SnapStoryTwo") {
      route = "pod2";
    } else if (
      from.name == "PayRideSbahnThree" ||
      from.name == "PayRideSnapThree"
    ) {
      route = "pod3";
    } else {
      route = "all";
    }
    next(comp => {
      comp.routeOrigin = route;
    });
  },
  props: ["path"]
  /*mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "../scripts/fake3d.js");
    document.head.appendChild(recaptchaScript);
  }*/
};
</script>
<style lang="scss" scoped>
.background {
  background-image: url("../assets/frankfurttop.jpg");
  background-position: top 0 left 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: -2;
}

.overlay {
  background-color: black;
  display: inline-block;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.buttonwrapper {
  position: absolute;
  bottom: 3%;
}
.allwrapper {
  right: 45%;
}

.solution-title {
  font-weight: bold;
  font-size: 2em;
  //color: #ffaf00;
  color: white;
  display: inline-block;
}

.titleleft {
  text-align: left;
  //margin-right: 22%;
  //color: #ffaf00;
}

.titleright {
  text-align: left;
  padding-bottom: 1%;
  //margin-right: 22%;
  //color: #ffaf00;
}

.backbutton {
  overflow: hidden;
  width: 15%;
  left: 2%;
}
.continuebutton {
  overflow: hidden;
  width: 15%;
  left: 82%;
}

.button {
  background: linear-gradient(135deg, #0faaff, #0076cb);
}

.backarrow {
  width: 42px;
}

.right {
  transform: rotate(180deg);
  margin-bottom: -4.4%;
  margin-left: 3%;
}

.left {
  margin-bottom: -4.4%;
  margin-right: 3%;
}

.pushdown {
  overflow: hidden;
  top: 11%;
  left: 2%;
  width: 5%;
  height: 5%;
  position: absolute;
}

.pushdown_arrow {
  width: 30%;
}

.discoverbutton {
  position: relative;
  display: inline-block;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0))
      rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
  }

  &:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  &::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform 0.2s ease;
    font-weight: bold;
    letter-spacing: 0.01em;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0))
      rotateY(var(--ry, 0));
  }
}

@media only screen and (min-width: 1921px) {
  .solution-title {
    font-size: 4em;
  }

  .left {
    margin-bottom: -0.8%;
    margin-right: 6%;
  }

  .right {
    margin-bottom: -0.8%;
    margin-left: 5%;
  }

  .backarrow {
    width: 10%;
  }

  .discoverbutton {
    font-size: 2em;
  }

  .allwrapper {
    right: 42%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
}

@media only screen and (max-width: 1400px) {
  .backbutton {
    width: 21%;
  }

  .continuebutton {
    width: 18%;
  }
}
</style>