<template>
  <div class="main">
    <div class="headerwrapper">
      <img class="logo sap" src="../assets/ey-logo.svg" @click="backtostartscreen()" />
      <div class="solution-title title" @click="backtostartscreen()">Solution Overview</div>
    </div>
    <SolutionModal
      :solutions="calculateShowingSolutions()"
      :showModalSolution="currentActiveSolution"
      v-if="showModal"
      v-on:closemodal="showModal = false"
    />
    <div class="overlay"></div>
    <div class="background"></div>
    <div class="network-container">
      <div v-if="!displaypart">
        <div class="dot-list" v-for="(dot, index) in calculateShowingSolutions()" :key="index">
          <SolutionPointEY :title="dot.title" :topMargin="dot.top" :leftMargin="dot.left" />
        </div>
      </div>
      <div v-if="displaypart">
        <div class="dot-list" v-for="(dot, index) in calculateShowingSolutions()" :key="index">
          <SolutionPointEY :title="dot.title" :topMargin="dot.top" :leftMargin="dot.left" />
        </div>
      </div>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import SolutionPointEY from "@/components/SolutionPointEY";
import OverlayMenu from "@/components/OverlayMenu";
import SolutionModal from "@/components/SolutionModal.vue";
import router from "../router.js";
import store from "../store.js";

export default {
  name: "SolutionMapEY",
  components: { SolutionPointEY, OverlayMenu, SolutionModal },
  data() {
    return {
      showSolution: false,
      showModal: false,
      currentActiveSolution: "",
      displaypart: false,
      solutionPartArray: {
        pod1: [0, 1, 2],
        pod2: [3, 4, 5],
        pod3: [6, 7, 8]
      },
      pointsArray: [
        {
          center: false,
          pointtitle: "Mobility Strategy Introduction",
          title: "Mobility Strategy Introduction",
          name: "SmcEYIntroduction",
          top: 70,
          left: 70
        },
        {
          center: false,
          pointtitle: "Vision to reality",
          title: "Vision to reality",
          name: "SmcEYVision",
          top: 58,
          left: 40
        },
        {
          center: false,
          pointtitle: "Mobility use case",
          title: "Mobility use case",
          name: "SmcEYMobUseCase",
          top: 10,
          left: 50
        },
        {
          center: false,
          pointtitle: "Mobility business transformation",
          title: "Mobility business transformation",
          name: "SmcEYMobBusinessTrans",
          top: 20,
          left: 25
        },
        {
          center: false,
          pointtitle: "Organic transformation",
          title: "Organic transformation",
          name: "SmcEYOrganicTrans",
          top: 35,
          left: 65
        },
        {
          center: false,
          pointtitle: "Non-Organic transformation",
          title: "Non-Organic transformation",
          name: "SmcEYNonOrganicTrans",
          top: 20,
          left: 75
        },
        {
          center: false,
          pointtitle: "Transformation of support functions / backoffice",
          title: "Transformation of backoffice",
          name: "SmcEYTransBackoffice",
          top: 75,
          left: 28
        },
        {
          center: false,
          pointtitle: "IT / Finance transformation",
          title: "IT / Finance transformation",
          name: "SmcEYITTrans",
          top: 35,
          left: 35
        },
        {
          center: false,
          pointtitle: "Cybersecurity",
          title: "Cybersecurity",
          name: "SmcEYCybersec",
          top: 30,
          left: 35
        }
      ]
    };
  },
  methods: {
    clickOnSolution(value) {
      router.push({ name: "ey", params: { point: value.name } });
    },
    calculateShowingSolutions() {
      let temparray = [];
      if (this.displayPoints == "all") {
        this.displaypart = false;
        temparray = this.pointsArray;
      } else if (this.displayPoints == "pod1") {
        this.displaypart = true;
        for (let i = 0; i < this.solutionPartArray.pod1.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod1[i]]);
        }
      } else if (this.displayPoints == "pod2") {
        this.displaypart = true;
        for (let i = 0; i < this.solutionPartArray.pod2.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod2[i]]);
        }
      } else if (this.displayPoints == "pod3") {
        this.displaypart = true;
        for (let i = 0; i < this.solutionPartArray.pod3.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod3[i]]);
        }
      }
      return temparray;
    },
    backtostartscreen() {
      if (this.displayPoints == "all") {
        router.push({ path: "/" });
      } else if (this.displayPoints == "pod1") {
        router.push({ path: "/" });
      } else if (
        this.displayPoints == "pod2" &&
        store.state.storypath == "snap"
      ) {
        router.push({ path: "/home2snap" });
      } else if (
        this.displayPoints == "pod2" &&
        store.state.storypath == "sbahn"
      ) {
        router.push({ path: "/home2sbahn" });
      } else if (this.displayPoints == "pod3") {
        router.push({ path: "/homepay" });
      }
    }
  },
  props: ["displayPoints"]
  /*mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "../scripts/fake3d.js");
    document.head.appendChild(recaptchaScript);
  }*/
};
</script>
<style lang="scss" scoped>
.background {
  background-image: url("../assets/frankfurttop.jpg");
  background-position: top 0 left 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: -2;
}

.solution-title {
  font-weight: bold;
}

.headerwrapper {
  position: absolute;
  left: 3%;
  top: 3%;
}

.title {
  font-size: 2.8em;
  text-align: left;
  margin-top: 3.7%;
  margin-right: 11%;
  color: white;
  display: inline-block;
}

.logo {
  float: left;
  width: 12%;
}

.overlay {
  background-color: black;
  display: inline-block;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

@media only screen and (min-width: 1921px) {
  .title {
    font-size: 5.8em;
    margin-right: 0%;
    margin-top: 4.8%;
  }
  .logo {
    margin-top: 1%;
    margin-left: 2%;
  }
  .pushdown_arrow {
    width: 30%;
  }
  .pushdown {
    top: 10%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
}

@media only screen and (max-width: 1400px) {
}
</style>