<template>
  <div class="main">
    <div class="headerwrapper">
      <img class="logo sap" src="../assets/MHP19_white.png" @click="backtostartscreen()" />
      <div class="solution-title title" @click="backtostartscreen()">Solution Overview</div>
    </div>
    <div class="overlay"></div>
    <div class="background"></div>
    <div class="network-container">
      <div class="dot-list" v-for="(dot, index) in calculateShowingSolutions()" :key="index">
        <SolutionPointMHP :title="dot.title" :topMargin="dot.top" :leftMargin="dot.left" />
      </div>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import SolutionPointMHP from "@/components/SolutionPointMHP";
import OverlayMenu from "@/components/OverlayMenu";
import SolutionModal from "@/components/SolutionModal.vue";
import router from "../router.js";
import store from "../store.js";

export default {
  name: "SolutionMapMHP",
  components: { SolutionPointMHP, OverlayMenu, SolutionModal },
  data() {
    return {
      showSolution: false,
      showModal: false,
      currentActiveSolution: "",
      solutionPartArray: {
        pod1: [0, 1, 2, 3, 4, 5],
        pod2: [0, 1, 2, 3, 4, 5],
        pod3: [0, 1, 2, 3, 4, 5]
      },
      pointsArray: [
        {
          center: false,
          pointtitle: "",
          title: "Mobility Strategy",
          name: "",
          top: 70,
          left: 70
        },
        {
          center: false,
          pointtitle: "",
          title: "Mobility Services",
          name: "",
          top: 58,
          left: 40
        },
        {
          center: false,
          pointtitle: "",
          title: "Mobility Platforms",
          name: "",
          top: 10,
          left: 50
        },
        {
          center: false,
          pointtitle: "",
          title: "Strategic Partnerships",
          name: "",
          top: 20,
          left: 25
        },
        {
          center: false,
          pointtitle: "",
          title: "Digital Services by MHP",
          name: "",
          top: 35,
          left: 65
        },
        {
          center: false,
          pointtitle: "",
          title: "MHP Portfolio",
          name: "",
          top: 20,
          left: 75
        }
      ]
    };
  },
  methods: {
    calculateShowingSolutions() {
      let temparray = [];
      if (this.displayPoints == "all") {
        temparray = this.pointsArray;
      } else if (this.displayPoints == "pod1") {
        for (let i = 0; i < this.solutionPartArray.pod1.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod1[i]]);
        }
      } else if (this.displayPoints == "pod2") {
        for (let i = 0; i < this.solutionPartArray.pod2.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod2[i]]);
        }
      } else if (this.displayPoints == "pod3") {
        for (let i = 0; i < this.solutionPartArray.pod3.length; i++) {
          temparray.push(this.pointsArray[this.solutionPartArray.pod3[i]]);
        }
      }

      return temparray;
    },
    backtostartscreen() {
      if (this.displayPoints == "all") {
        router.push({ path: "/" });
      } else if (this.displayPoints == "pod1") {
        router.push({ path: "/" });
      } else if (
        this.displayPoints == "pod2" &&
        store.state.storypath == "snap"
      ) {
        router.push({ path: "/home2snap" });
      } else if (
        this.displayPoints == "pod2" &&
        store.state.storypath == "sbahn"
      ) {
        router.push({ path: "/home2sbahn" });
      } else if (this.displayPoints == "pod3") {
        router.push({ path: "/homepay" });
      }
    }
  },
  props: ["displayPoints"]
  /*mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "../scripts/fake3d.js");
    document.head.appendChild(recaptchaScript);
  }*/
};
</script>
<style lang="scss" scoped>
.background {
  background-image: url("../assets/frankfurttop.jpg");
  background-position: top 0 left 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: -2;
}

.solution-title {
  font-weight: bold;
}

.headerwrapper {
  position: absolute;
  left: 3%;
  top: 3%;
}

.title {
  font-size: 2.8em;
  text-align: left;
  margin-right: 62%;
  color: white;
  display: inline-block;
}

.logo {
  float: left;
  width: 8%;
  margin-top: 0.5%;
}

.overlay {
  background-color: black;
  display: inline-block;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

@media only screen and (min-width: 1921px) {
  .title {
    font-size: 5.8em;
    margin-right: 39%;
  }
  .logo {
    width: 12%;
    margin-top: 1%;
  }
  .pushdown_arrow {
    width: 30%;
  }
  .pushdown {
    top: 10%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
}

@media only screen and (max-width: 1400px) {
  .solution-title {
    margin-right: 58%;
  }
}
</style>