<template>
  <div class="home">
    <OverlayMenu/>
    <StoryDialer/>
  </div>
</template>

<script>
// @ is an alias to /src
import StoryDialer from '@/components/StoryDialer.vue';
import OverlayMenu from '@/components/OverlayMenu.vue';

export default {
  name: 'StoryDialerView',
  components: {
    StoryDialer,
    OverlayMenu,
  },
};
</script>
