<template>
  <div class="home">
    <OverlayMenu />
    <vue-friendly-iframe class="survey" :src="path" @load="onLoad" @document-load="onDocumentLoad"></vue-friendly-iframe>
  </div>
</template>

<script>
// @ is an alias to /src
//import StoryDialer from '@/components/StoryDialer.vue';
import VueFriendlyIframe from "vue-friendly-iframe";
import OverlayMenu from "@/components/OverlayMenu.vue";


export default {
  name: "Survey",
  components: { VueFriendlyIframe, OverlayMenu },
  data() {
    return {
      path: "https://saraha.qualtrics.com/jfe/form/SV_bJFwbDUvNfmBOsJ"
    };
  }
};
</script>

<style lang="scss" scoped>
.survey {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

vue-friendly-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
</style>
