<template>
  <div class="home">
    <OverlayMenu />
    <BackgroundVideo />
  </div>
</template>

<script>
// @ is an alias to /src
import OverlayMenu from "@/components/OverlayMenu.vue";
import BackgroundVideo from "@/components/BackgroundVideo.vue";

export default {
  name: "TransitionSettingStage",
  components: { OverlayMenu, BackgroundVideo },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
</style>