<template>
  <div class="home">
    <video
      ref="video"
      playsinline
      :src="src"
      x5-video-player-type="h5"
      x5-video-player-fullscreen="true"
      :loop="false"
      x5-playsinline="true"
      webkit-playsinline="true"
      preload="auto"
      :autoplay="false"
    ></video>
  </div>
</template>

<script>
// @ is an alias to /src
//import StoryDialer from '@/components/StoryDialer.vue';
import VueFullscreenVideo from "vue-fullscreen-video";
import router from "../router";
import store from "../store";

export default {
  name: "TransitionCentralStation",
  components: { VueFullscreenVideo },
  data() {
    return {
      src: require("../assets/bahnhofcut.mp4"),
      video: undefined
    };
  },
  methods: {
    controlvideo() {
      this.video = this.$refs.video;
      this.video.load();
      this.video.play();
    }
  },
  mounted() {
    this.controlvideo();
    this.video.onended = function() {
      if (store.getters.selectedStoryPart == "transitioncentralstation") {
        router.push({ path: "trainstation" });
      }
    };
  },
  watch: {
    $route() {
      this.controlvideo();
    }
  },
  beforeRouteEnter(to, from, next) {
    store.commit("setStoryPart", to.name);
    if (from.name == "lobby") {
    } else {
      store.commit("setInitialPageCount");
    }
    next();
  }
};
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  top: 0% !important;
  overflow: hidden;
}

@media only screen and (min-width: 1921px) {
  video {
    height: 100vh;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
}

@media only screen and (max-width: 1400px) {
}
</style>