@font-face {
  font-family: "72";
  src: local("72"), local("72-Regular"),
    url("../fonts/72/72-Regular.ttf") format("ttf"),
    url("../fonts/72/72-Regular.svg") format("svg"),
    url("../fonts/72/72-Regular.woff") format("woff"),
    url("../fonts/72/72-Regular.woff2") format("woff2"),
    url("../fonts/72/72-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "72";
  src: local("72 Black"), local("72-Black"),
    url("../fonts/72/72-Black.ttf") format("ttf"),
    url("../fonts/72/72-Black.svg") format("svg"),
    url("../fonts/72/72-Black.woff") format("woff"),
    url("../fonts/72/72-Black.woff2") format("woff2"),
    url("../fonts/72/72-Black.otf") format("otf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "72";
  src: local("72 Bold"), local("72-Bold"),
    url("../fonts/72/72-Bold.ttf") format("ttf"),
    url("../fonts/72/72-Bold.svg") format("svg"),
    url("../fonts/72/72-Bold.woff") format("woff"),
    url("../fonts/72/72-Bold.woff2") format("woff2"),
    url("../fonts/72/72-Bold.otf") format("otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "72";
  src: local("72 Light"), local("72-Light"),
    url("../fonts/72/72-Light.ttf") format("ttf"),
    url("../fonts/72/72-Light.svg") format("svg"),
    url("../fonts/72/72-Light.woff") format("woff"),
    url("../fonts/72/72-Light.woff2") format("woff2"),
    url("../fonts/72/72-Light.otf") format("otf");
  font-style: normal;
  font-weight: 200;
}
